{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}<title>Residencial Onix | Adicionar despesas </title>{% endblock %}
      
{% block dashboard %}

<style type="text/css">
	
.add i
{
  font-size: 40px;
}


.add i:hover
{
	color: yellowgreen;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/cartao.css' %}">

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Pessoal</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Cartões</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="far fa-credit-card"></i>
    </div>
</div>
<div class="section-body">
  <a href="{% url 'bancos:create' %}" style="cursor: pointer;" class="float-right icon-top text-dark add"  data-toggle="tooltip" data-placement="top" title="Novo Cartão">
    <i class=" pe-auto  fas fa-plus"></i>
  </a>
  <br>     
    <h2 class="section-title">Cartão</h2>
    <p class="section-lead">
          Gerenciamento dos cartões de crédito é uma ferramenta é eficaz e crucial quando se trata das finanças pessoais.
    </p>
    <div class="row">
        {% for cartao in cartoes %}            
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <a href="{% url 'bancos:details' cartao.id %}">
                {% if cartao.id == 1 %}<div class="wrapper first">{% elif cartao.id == 2 %}<div class="wrapper second">{% elif cartao.id == 3 %}<div class="wrapper third">{% elif cartao.id == 4 %}<div class="wrapper room">{% elif cartao.count == 5 %}<div class="wrapper fifth">{% elif cartao.count == 6 %}<div class="wrapper sixth">{% elif cartao.count == 7 %}<div class="wrapper seventh">{% elif cartao.count == 8 %}<div class="wrapper eighth">{% elif cartao.count == 9 %}<div class="wrapper ninth">{% elif cartao.count == 10 %}<div class="wrapper tenth">{% else %}<div class="wrapper first">{% endif %}
                    <div class="p-1 institucao">{{ cartao.instituicao }}</div>
                    <div class="p-2 chip">
                        <img src="{% static 'img/chip.png'%}">
                        <i class="ml-2 fas fa-wifi"></i>
                    </div>
                    <div class="number mt-2">                
                        <p>0123 4567 8910 1112</p>
                    </div>
                    <div class="valid">
                        <span>Válidade</span>
                        <span>{{ cartao.vencimento |date:"m" }}/{{ cartao.vencimento |date:"y" }}</span>
                    </div>
                    <div class="name">
                        <span>{{ cartao.nome }}</span>
                        <img src="{{ cartao.bandeira.logo.url }}">
                    </div>
                </div>
                </a>         
            </div>
        {% endfor %}            
    </div>         
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


 <script src="{% static 'js/despesas.js' %}"></script>


<script type="text/javascript">
  $(document).ready(function(){
    $('input[type="text"]').each(function(){
        var val = $(this).val().replace(',','.');
        $(this).val(val);
    });
  });
</script>

{% endblock %}
