@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body
{
  background:    #f2f2f2;
  font-family: 'Comfortaa', cursive;
}

.card-body
{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 3px;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-bottom: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  width: 101%;
}

.content
{
      margin-left: 40px;
    top: 10px;
    position: relative;
    width: 80%;
}

.details span
{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #00e600!important;
}

.details p
{
  font-size: 15px;
  position: relative;
  margin-top: 10px;
}

#messages
{
    height: 110px!important; 
    width: 109%!important;
}

#messages h1
{
    margin-top: -28px!important;
}

.info
{
  
  color:#00e600!important;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
}

.border-info
{
  border-left: 5px solid  #00e600!important;
  height: 109px;
}

.icon
{
    font-size: 59px;    
    float: right;
    left: 162px;    
    position: relative;
}

.error
{
  
  color: var(--red)!important;
}

.border-error
{
  border-left: 9px solid  var(--red)!important;
}

.success
{
  
  color: var(--green)!important;
}

.border-success
{
  border-left: 9px solid  var(--green)!important;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{

    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #fff;
    justify-content: space-between;
    z-index: 2;
}

.logo{
    color: #FFF;
    font-weight: 900;
}

.logo img
{
  position: relative;
  top: 10px;
}

.section-title
{
  position: relative;  
  bottom: 28px;
  border-bottom: 4px solid #ff8000;
}

.questionario
{
  position: relative;
  top: 140px;
  
}

.title
{

  font-weight: 600;
  color: #527a7a;
}

.welcome
{
  position: relative;
  top: 10px;
}

.welcome span
{
  color: #999999;
  
}




/*-------------------------------------------- Quiz Questions---------------------------------*/

/*Start Section*/
.btn-start
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




#start {
    height: 70px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(#bf8006, #f8d201);
    color: #191e2d;
    font-size: 23px;
    font-weight: 700;
    border-radius: 30px 10px;
    border: 1px solid #f3d031;
    cursor: pointer;
    /* display: none; */
}

#start:hover {
    box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.5), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}

/*guide Section*/
#guide,
#quiz {
    height: auto;
    width: 100%;
    padding: 40px;
    background: #191e2d;
    border-radius: 30px 10px;
    box-shadow: inset 2px 2px 3px rgb(255 255 255 / 15%), inset -2px -2px 3px rgb(0 0 0);
    /* border: 1px solid #b0c4d8; */
    display: none;
}

#guide h2 {
    font-size: 60px;
    color: #f3d031;
    margin: 10px 0;
}

#guide h4 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffffffca;
}

#guide #button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}

#guide #button button{
    height: 50px;
    width: 120px;
    margin: 10px 4px;
    border: none;
    outline: none;
    color: #e7f1fa;
    background: linear-gradient(#bf8006, #f8d201);
    border: 1px solid #f3d031;
    font-size: 18px;
    cursor: pointer;
}


#guide #button #exit
{

    border-radius: 15px 0px 0px 15px;
}

#guide #button #continue
{
    border-radius: 0px 15px 15px 0px;
}

#guide #button button:last-child {
    margin: 10px 0;
}

#guide #button button:hover {
    box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.5), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}

#quiz {
    /* display: block; */
    height: 480px;
    position: relative;
}

#quiz #quiz_header {
    height: 60px;
    width: 100%;
    background: #0f1423;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
    box-shadow: inset 2px 2px 3px rgb(255 255 255 / 15%), inset -2px -2px 3px rgb(0 0 0);
}

#quiz #quiz_header h5 {
    font-size: 28px;
    margin: 0 20px;
    color: #f3d031;
}

#quiz #quiz_header #timer {
    height: 50px;
    width: 200px;
    background: #f3d031;
    color: #e7f1fa;
    border: 1px solid #f3d031;
    font-size: 18px;
    border-radius: 20px 5px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}

#quiz #quiz_header #timer h6 {
    font-size: 22px;
    display: grid;
    place-items: center;
    color: #0f1423;
    margin: 0 10px;
}

#quiz #quiz_header #timer #time {
    height: 44px;
    width: 50px;
    background: #191e2d;
    color: #f3d031;
    /* border: 1px solid #b0c4d8; */
    border-radius: 15px 7px;
    margin: 2px 0 0 27px;
}

/*Quiz Questions*/
#quiz #question {
    position: absolute;
    top: 95px;
    display: flex;
    flex-direction: row;
}

#quiz #question h2 {
    font-size: 27px;
    color: #ffffffca;
}

#quiz #question h2:first-child {
    margin: 0 10px 0 5px;
}

/*Quiz Options*/
#quiz #optionList {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 175px;

}

#quiz #optionList h4 {
    height: 50px;
    width: 90%;
    background: #f8d201;
    line-height: 50px;
    margin: 9px 0;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 20px;
    color: #191e2d;
    overflow: hidden;
    /* border: 1px solid #b0c4d8; */
    cursor: pointer;
}

#quiz #optionList h4:hover {
    background: #191e2d;
    color: #f8d201;
    border: 1px solid #f8d201;
}

#quiz #optionList .correct {
    background: #191e2d;
    color: #0edd0e;
    border: 1px solid #0edd0e;
}
#quiz #optionList .wrong {
    background: #191e2d;
    color: red;
    border: 1px solid red;
}


#quiz #optionList .disabled {
    pointer-events: none;
}

/*Answers Section*/

#quiz #answersSection {
    
    height: 23px;
    width: 95%;    
    position: absolute;
    top: 434px;
    display: flex;
    flex-direction: row;    
    justify-content: end;
    color: #fff;
    
    
    
}


/*Result Section*/
#result {
    height: 500px;
    width: 100%;
    padding: 20px;
    background: #0f1423;
    border-radius: 30px 10px;
    /* border: 1px solid #f3d031; */
    overflow: hidden;
    position: relative;
    display: none;
    box-shadow: inset 2px 2px 3px rgb(255 255 255 / 15%), inset -2px -2px 3px rgb(0 0 0);
}

.completed
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#result i {
    font-size: 180px;
    color: #f3d031;
    position: absolute;
    top: 30px;
    
}

#result h6 {
    height: 40px;
    width: 87%;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 235px;
    color: #ffffffca;
}

#result #perfil
{
    position: relative;
    top: 292px;
}


#result #pontuacao
{
    position: relative;
    top: 0px;
    left: 10px;
}
#result #points {
    font-size: 30px;
    top: 275px;
}

#result button {
    height: 60px;
    width: 260px;
    border: none;
    outline: none;
    background: linear-gradient(#bf8006, #f8d201);
    color: #191e2d;
    position: absolute;    
    top: 335px;
    border: 1px solid #f3d031;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
}

#result button:last-child {
    top: 405px;
}

#result button:hover {
    box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.5), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.perfil
{
    position: relative;
    margin-top: 40px;
}


