{% extends 'dashboard/base.html' %}
{% load static %}


{% block dashboard %}

<style type="text/css">
	
.voltar i
{
  font-size: 40px;
}


.voltar i:hover
{
	color: yellowgreen;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/reserva.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Pessoal</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Reserva</h1>
    <div class="section-header-breadcrumb">               
        <span style="font-size: 70px; color: #000066;" class="material-symbols-outlined">
		account_balance_wallet
		</span>
    </div>
    </div>

    <div class="section-body">
    	<a href="{% url 'pessoal:manager' %}"><div style="cursor: pointer;" class=" pe-auto float-left icon-top text-dark voltar"  data-toggle="tooltip" data-placement="top" title="Voltar"><i class="fas fa-reply-all"></i></div> </a>
    	<br>
        <h2 class="section-title">Reserva de Emergência</h2>
        <p class="section-lead">
          Analise o seu orçamento e identificar quais gastos podem ser reduzidos para aumentar o tamanho da sua reserva de emergência.
        </p>
        <div class="row">        	
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center mr-4">
                            <div class="icon text-primary"><i class="fas fa-ambulance"></i></div>
                            <div class="ml-4 c-details d-flex flex-column">                            
                                <span>{{ reserva.created |date }}</span>
                                <h6 class="mb-0">Controle da Reserva Esmergência</h6>
                            </div>
                        </div>
                        <div class="badges">
                        {% if reserva.status == 'inicial' %}             
                          <span class="badge badge-secondary">Iniciar</span>
                        {% elif reserva.status == 'executando' %}
                            <span class="badge badge-warning">Andamento</span>
                        {% else %}
                            <span class="badge badge-success">Concluído</span>
                        {% endif %}
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading text-dark">Descrição</h3>
                        <p>
                           {{ reserva.descricao |safe }} 
                        </p>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ reserva.complete_per }}%" aria-valuenow="{{ reserva.complete_per }}" aria-valuemin="0" aria-valuemax="100">{{ reserva.complete_per }}%</div>
                            </div>
                            <div class="mt-3 d-flex justify-content-between"> <span class="text1">R$ {{ reserva.total }} Aplicado</span> <span class="text1">R$ {{ reserva.referencia }} Total</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
             <div class="col-12 col-md-12 col-lg-12 mt-5">
                <div class="card bg-default shadow">
                  <div class="card-header bg-transparent border-0">
                    <h4 class="title-boleto text-dark mb-0">Movimentação Mensal / 
                        <span class="text-success">
                            {% if month == 1 %}
                            Janeiro
                            {% elif month == 2 %}
                            Fevereiro
                            {% elif month == 3 %}
                            Março
                            {% elif month == 4 %}
                            Abril
                            {% elif month == 5 %}
                            Maio
                            {% elif month == 6 %}
                            Junho
                            {% elif month == 7 %}
                            Julho
                            {% elif month == 8 %}
                            Agosto
                            {% elif month == 9 %}
                            Setembro
                            {% elif month == 10 %}
                            Outubro
                            {% elif month == 11 %}
                            Novembro
                            {% elif month == 12 %}
                            Dezembro
                            {% endif %}
                        </span>
                    </h4>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-striped text-center">
                      <tbody><tr>
                        <th>codigo ID</th>
                        <th>Categoria</th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>tipo</th>
                        <th>Moeda</th>
                        <th>Valor</th>
                      </tr>
                      {% for movimento in movimentos %}
                      <tr>
                        <td><a href="#">{{ movimento.id }}</a></td>
                        <td class="font-weight-600">{{ movimento.categoria.nome }}</td>
                        <td>
                          {% if movimento.status ==  'receitas' %}
                          <div class="badge badge-success">{{ movimento.status |title }}</div>
                          {% else %}
                          <div class="badge badge-danger">{{ movimento.status |title }}</div>
                          {% endif %}
                        </td>
                        <td>{{ movimento.created |date }}</td>
                        <td>
                          {% if movimento.fixa ==  True %}
                            Renda fixa
                          {% else %}
                            Renda variável 
                          {% endif %}
                        </td>
                        <th>{{ movimento.moeda }}</th>
                        <td>{{ movimento.valor }}</td>
                      </tr>
                      {% endfor%}                   
                    </tbody></table>
                  </div>
                </div>
          </div>            
        </div>         
    </div> 


{% endblock %}
