{% extends 'management/base.html' %}
{% load static %}





{% block management %}
<style type="text/css">
  .add i
{
    font-size: 40px;

}

.add i:hover
{
    color: yellowgreen;
}
</style>
<link rel="stylesheet" href="{% static 'css/administration.css' %}">
<section class="section">

    <div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">{{ question.label |truncatechars:69 }}</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Respostas</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas  fa-tasks"></i>
    </div>
    </div>
  
</section>
 <div class="section-body ">
    <a href="{% url 'quiz:list_questions' quiz.id  %}">
      <div class=" float-left icon-top text-dark add-despesas"  data-toggle="tooltip" data-placement="top" title="Voltar">
        <i class="fas fa-reply-all"></i>
      </div>
    </a>
    {% if question.answers  < 3 %}
      <a href="{% url 'quiz:answer_created' question.id %}">
      <div class=" float-right icon-top text-dark add"  data-toggle="tooltip" data-placement="top" title="Adicionar nova Pergunta">
        <i class="fas fa-plus"></i>
      </div>
    </a>
    {% endif %}
    <br>
  <h2 class="section-title">Informações do {{ question.label |truncatechars:40  }}</h2>
  <p class="section-lead">
     A análise da questão <strong class="text-success">{{ question.label   }}</strong> é realizada através de um questionário.
  </p>  
   <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                  <div class="card-header">
                    <h4><span class="text-dark">Questão</spans> Nº <span class="text-primary">{{ question.order }}</span> - <span  class="text-muted">{{ question.label |truncatechars:90 }}</span></h4>
                    <div class="card-header-action">
                                             
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th>Nº</th>                  
                            <th>Title</th>                                                      
                            <th>Questões</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for answer in answers %}                         
                          <tr>
                            <td>{{ answer.order }}</td>
                            <td ><a class="text-decoration-none" style="color: #6c757d;" href="#">{{ answer.label |truncatechars:99}}</a></td>                                  
                                 
                            <td>
                                <div class="buttons">
                                  <a href="#" class="btn btn-icon btn-primary">
                                    <i class="far fa-edit"></i>
                                  </a>         
                                  <a href="#" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                  </a>         
                                </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
    </div></div>


{% endblock %}
