{% extends 'management/base.html' %}
{% load static %}





{% block management %}

<style type="text/css">
    .add i
  {
    font-size: 40px;

  }

  .add i:hover
  {
    color: yellowgreen;
  }

</style>
<link rel="stylesheet" href="{% static 'css/administration.css' %}">
<section class="section">

    <div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Questionário</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">{{ quiz.name }}</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas  fa-user-tie"></i>
    </div>
    </div>
  
</section>
 <div class="section-body ">
    <a href="{% url 'quiz:list_quiz' %}">
      <div class=" float-left icon-top text-dark add-despesas"  data-toggle="tooltip" data-placement="top" title="Voltar">
        <i class="fas fa-reply-all"></i>
      </div>
    </a>    
    <a href="{% url 'quiz:created_questions' quiz.id %}">
      <div class=" float-right icon-top text-dark add"  data-toggle="tooltip" data-placement="top" title="Criar nova Pergunta">
        <i class="fas fa-plus"></i>
      </div>
    </a>
  <br>
  <h2 class="section-title">Informações do {{ quiz.name }}</h2>
  <p class="section-lead">
     A análise <strong class="text-primary">{{ quiz.name }}</strong> é realizada através de um questionário, que analisa suas preferências e expectativas em investimentos.
  </p>  
   <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                  <div class="card-header">
                    <h4 class="text-dark" >Questões sobre <span class="text-primary">{{ quiz.name  }}</span></h4>
                    <div class="card-header-action">                     
                      <a href="{% url 'quiz:updated_quiz' quiz.id  %}" class="btn btn-warning"  data-toggle="tooltip" data-placement="top" title="Atualizar o questionário">
                        Atualizar 
                        <i class="far fa-edit"></i>
                      </a>
                      <a href="{% url 'quiz:delete_quiz' quiz.id  %}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir o questionário">
                        Excluir 
                        <i class="fas fa-trash"></i>
                      </a>   
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr class="text-center">
                            <th>Nº</th>                  
                            <th>Title</th>
                            <th>Assunto</th>                            
                            <th>Questões</th>
                            <th>Opções</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for question in questions %}                         
                          <tr class="text-center">
                            <td>{{ question.order }}</td>
                            <td ><a class="text-decoration-none" style="color: #6c757d;" href="{% url 'quiz:answer_list' question.id %}">{{ question.label | slice:"40"}}</a></td>                                  
                            <td>{{ question.quiz }}</td>
                            <td>
                              <div class="badges">
                                {% if question.answers == 3 %}
                                <span class="badge badge-success">Concluido</span>
                                {% elif question.answers > 0 and question.answers < 3 %}
                                <span class="badge badge-info">Incompleta</span>
                                {% else %}
                                <span class="badge badge-danger">Não adicionadas</span>
                                {% endif %}
                            </td>      
                            <td>
                                <div class="buttons">
                                  <a href="{% url 'quiz:updated_questions' question.id %}" class="btn btn-icon btn-primary" data-toggle="tooltip" data-placement="top" title="Atualizar a questão">
                                    <i class="far fa-edit"></i>
                                  </a>         
                                  <a href="{% url 'quiz:delete_questions' question.id %}" class="btn btn-icon btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir a Questão">
                                    <i class="fa fa-trash"></i>
                                  </a>         
                                </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
    </div></div>


{% endblock %}
