





#messages
{
    height: 110px!important; 
    width: 109%!important;
}

#messages h1
{
    margin-top: -28px!important;
}

.info
{
  
  color: var(--info)!important;
}

.border-info
{
  border-left: 9px solid  var(--info)!important;
}



.error
{
  
  color: var(--red)!important;
}

.border-error
{
  border-left: 9px solid  var(--red)!important;
}

.success
{
  
  color: var(--green)!important;
}

.border-success
{
  border-left: 9px solid  var(--green)!important;
}

