{% extends 'management/base.html' %}
{% load static %}





{% block management %}
<link rel="stylesheet" href="{% static 'css/administration.css' %}">
<section class="section">

    <div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Questionário</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Deletar</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-trash"></i>
    </div>
    </div>
  
</section>
 <div class="section-body ">
    <a href="{% url 'quiz:questionnaires' %}">
    <div class=" float-right icon-top text-dark add-despesas"  data-toggle="tooltip" data-placement="top" title="Voltar">
      <i class="fas fa-reply-all"></i>
    </div>
  </a>
  <h2 class="section-title">Deletar a Questão</h2>
  <p class="section-lead">
     A ação exclui a questão <strong class="text-danger">{{ questionnaire.title }}</strong> vai apagar do banco de dados.
  </p>

  <div class="row">
    <div class="col-12 col-md-12 col-sm-12">
      <div class="card mt-5">
        <div class="card-header">
          <h4>Excluir a questão</h4>
        </div>
        <div class="card-body">
          <div class="empty-state" data-height="400" style="height: 400px;">
            <div class="empty-state-icon bg-danger ">
              <i class="fa fa-trash"></i>
            </div>
            <h2>Cuidado quando não excluir esse tipo de questão</h2>
            <p class="lead">
              <strong class="text-danger">Atenção</strong>: Se você selecionar tanto a exclusão do questionário, também excluram de questões vinculada ao questionário.
            </p>
            <a href="#" class="btn btn-outline-danger mt-4">Excluir</a>
          </div>
        </div>
      </div>                
    </div>
    
  </div>
</div>  
  


{% endblock %}
