{% extends 'dashboard/base.html' %}
{% load static %}





{% block dashboard %}


<link rel="stylesheet" type="text/css" href="{%  static 'css/cripto.css' %}">


 <!-- Main Content -->

          <div style="height: 110px!important;" class="section-header">
            <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Análise</h5>
            <br>
            <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Fundamentalista</h1>
            <div class="section-header-breadcrumb">       
                <i style="font-size: 70px; color: #000066;" class="fas fa-file-contract"></i>
            </div>
          </div>

          <div class="section-body">            
            <h2 class="section-title">Análise Fundamentalista</h2>
            <p class="section-lead">
              Analizando os mercados de <strong class="text-danger font-weight-bold">Cryptocurrency</strong> com o objetivo avaliar as melhores condições para se realizar ou não a compra do ativo.
            </p>
            <br>
            <br>             
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Crypto Ativos</h4>
                            <div class="card-header-form">
                              <form>
                                <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Search">
                                <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                </div>
                                </div>
                              </form>
                            </div>
                    </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table">
                        <tbody>
                          <tr>
                            <th>Ranking</th>
                            <th>crypto</th>                          
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Preço</th>
                            <th>Maximo</th>
                            <th>Minimo</th>
                            <th>Porcetagem</th>
                            <th>Tendência</th>
                          </tr> 
                          {% if data_crypto %}            
                          {% for crypto in data_crypto %}
                          <tr>
                          <td>{{ crypto.market_cap_rank }}</td>
                          <td class="p-0 text-center">
                            <img width="40" src="{{ crypto.image }}">
                          </td>
                          <td><a href="{% url 'crypto:detail' crypto.id crypto.name %}" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title=" Mais Informações do {{ crypto.name }}">{{ crypto.name }}</a></td>
                          <td class="align-middle"> {{ crypto.symbol |upper }} </td>
                          <td> $ {{ crypto.current_price }}</td>
                          <td> 
                          <span class="text-success">{{ crypto.high_24h }}</span>
                          </td>
                          <td>
                            <span class="text-success">{{ crypto.low_24h }}</span>
                          </td>
                          <td>
                            {% if crypto.price_change_percentage_24h > 0 %}
                            <span class="text-success">+{{ crypto.price_change_percentage_24h  }}%</span>
                            {% elif crypto.price_change_percentage_24h < 0 %}
                            <span class="text-danger">{{ crypto.price_change_percentage_24h  }}%</span>
                            {% else %}
                            <span >{{ crypto.price_change_percentage_24h  }}%</span>
                            {% endif %}
                          </td>
                          <td>{% if crypto.price_change_percentage_24h > 0 %}
                            <span class="text-success">Alta</span>
                            {% elif crypto.price_change_percentage_24h < 0 %}
                            <span class="text-danger">Baixa</span>
                            {% else %}
                            <span class="text-secondary">Normal</span>
                            {% endif %}                
                          </td>
                          </tr>
                          {% endfor %}
                          {% else %}                
                          <tr>
                          <td>{{ search_data.market_cap_rank }}</td>
                          <td class="p-0 text-center">
                            <img width="40" src="{{ search_data.image.small }}">
                          </td>
                          <td><a href="{% url 'crypto:detail' search_data.id search_data.name %}" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title=" Click adicionar a crypto {{ crypto.name }}">{{ search_data.name }}</a></td>
                          <td class="align-middle"> {{ search_data.symbol |upper }} </td>
                          <td> $ {{ search_data.market_data.current_price.usd }}</td>
                          <td> 
                          <span class="text-success">{{search_data.market_data.high_24h.usd }}</span>
                          </td>
                          <td>
                            <span class="text-success">{{ search_data.market_data.low_24h.usd }}</span>
                          </td>
                          <td>
                            {% if search_data.market_data.price_change_percentage_24h > 0 %}
                            <span class="text-success">+{{ search_data.market_data.price_change_percentage_24h  }}%</span>
                            {% elif search_data.market_data.price_change_percentage_24h < 0 %}
                            <span class="text-danger">{{ search_data.market_data.price_change_percentage_24h  }}%</span>
                            {% else %}
                            <span >{{ search_data.market_data.price_change_percentage_24h  }}%</span>
                            {% endif %}
                          </td>
                          <td><span class="text-danger">Baixa</span></td>
                          </tr>                              
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>       
                </div>
              </div>            
            </div>
          
            <br>
            <br>
              <footer class="mt-5">
                <p>
                  Created with <i class="fa fa-heart"></i> by
                  <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
                  - Read how I created this
                  <a target="_blank" href="https://florin-pop.com/blog/2019/04/profile-card-design">here</a>
                  - Design made by
                  <a target="_blank" href="https://dribbble.com/shots/6276930-Profile-Card-UI-Design">Ildiesign</a>
                </p>
              </footer>
              </div>
            </div>
          </div>
        </section>
      </div>

      {% block chart %}
      <script type="text/javascript">
      
      var balance_chart = document.getElementById("estatisticas").getContext('2d');
      
      var balance_chart_bg_color = balance_chart.createLinearGradient(0, 0, 0, 70);
      balance_chart_bg_color.addColorStop(0, 'rgba(63,82,227,.2)');
      balance_chart_bg_color.addColorStop(1, 'rgba(63,82,227,0)');
      
      var myChart = new Chart(balance_chart, {
        type: 'line',
        data: {
          labels: ['16-07-2018', '17-07-2018', '18-07-2018', '19-07-2018', '20-07-2018', '21-07-2018', '22-07-2018', '23-07-2018', '24-07-2018', '25-07-2018', '26-07-2018', '27-07-2018', '28-07-2018', '29-07-2018', '30-07-2018', '31-07-2018'],
          datasets: [{
            label: 'Balance',
            data: [0, 62, 144, 440, 1210, 630, 1820, 2252, 1502, 2831, 1170, 3510, 910, 4063, 1251, 4607],
            backgroundColor: balance_chart_bg_color,
            borderWidth: 3,
            borderColor: 'rgba(63,82,227,1)',
            pointBorderWidth: 0,
            pointBorderColor: 'transparent',
            pointRadius: 3,
            pointBackgroundColor: 'transparent',
            pointHoverBackgroundColor: 'rgba(63,82,227,1)',
          }]
        },
        options: {
          layout: {
            padding: {
              bottom: -1,
              left: -1
            }
          },
          legend: {
            display: false
          },
          scales: {
            yAxes: [{
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                beginAtZero: true,
                display: false
              }
            }],
            xAxes: [{
              gridLines: {
                drawBorder: false,
                display: false,
              },
              ticks: {
                display: false
              }
            }]
          },
        }
      });
      
      var sales_chart = document.getElementById("retorno").getContext('2d');
      
      var sales_chart_bg_color = sales_chart.createLinearGradient(0, 0, 0, 80);
      balance_chart_bg_color.addColorStop(0, 'rgba(63,82,227,.2)');
      balance_chart_bg_color.addColorStop(1, 'rgba(63,82,227,0)');
      
      var myChart = new Chart(sales_chart, {
        type: 'line',
        data: {
          labels: ['16-07-2018', '17-07-2018', '18-07-2018', '19-07-2018', '20-07-2018', '21-07-2018', '22-07-2018', '23-07-2018', '24-07-2018', '25-07-2018', '26-07-2018', '27-07-2018', '28-07-2018', '29-07-2018', '30-07-2018', '31-07-2018'],
          datasets: [{
            label: 'Sales',
            data: [0, 62, 144, 440, 1210, 1630, 1820, 2252, 2502, 2831, 3170, 3510, 3910, 4063, 4251, 4607],
            borderWidth: 2,
            backgroundColor: balance_chart_bg_color,
            borderWidth: 3,
            borderColor: 'rgba(63,82,227,1)',
            pointBorderWidth: 0,
            pointBorderColor: 'transparent',
            pointRadius: 3,
            pointBackgroundColor: 'transparent',
            pointHoverBackgroundColor: 'rgba(63,82,227,1)',
          }]
        },
        options: {
          layout: {
            padding: {
              bottom: -1,
              left: -1
            }
          },
          legend: {
            display: false
          },
          scales: {
            yAxes: [{
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                beginAtZero: true,
                display: false
              }
            }],
            xAxes: [{
              gridLines: {
                drawBorder: false,
                display: false,
              },
              ticks: {
                display: false
              }
            }]
          },
        }
      });
      
      </script>
          <script>
              $('.skill-per').each(function () {
                  var $this = $(this);
                  var per = $this.attr('per');
                  $this.css("width", per + '%');
                  $({ animatedValue: 0 }).animate({ animatedValue: per }, {
                      duration: 1000,
                      step: function () {
                          $this.attr('per', Math.floor(this.animatedValue) + '%');
      
                      },
                      complete: function () {
                          $this.attr('per', Math.floor(this.animatedValue) + '%');
      
                      }
      
                  });
              });
          </script>
      {% endblock %}
{% endblock %}
