{% extends 'dashboard/base.html' %}
{% load static %}









{% block dashboard %}

<style type="text/css">
.link-voltar i
{
  font-size: 40px;
}

.link-voltar  i:hover
{
  color: yellowgreen;
}
</style>
<link rel="stylesheet" type="text/css" href="{%  static 'css/settings.css' %}">
<!-- Main Content -->
  <section class="section">
    <div style="height: 110px!important;" class="section-header">
      <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Settings</h5>
      <br>
      <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Profile</h1>
      <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fa fa-users"></i>
      </div>
    </div>
    <div class="section-body">
      <a class="float-right" style="z-index: 99;" href="">
        <div class=" float-left icon-top text-dark link-voltar" data-toggle="tooltip" data-placement="top" title="Voltar a pagina anterior">
          <i class="fas fa-reply-all"></i>
        </div>
      </a>
      <h2 class="section-title">Profile</h2>
      <p class="section-lead">
        Organize e ajuste todas as configurações para as automações funcionar perfeitamente.
      </p>
    </div>
  </section> 
{% endblock %}