{% extends 'dashboard/base.html'%}
{% load static %}


{% block dashboard %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forex.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
<div style="height: 110px!important;" class="section-header">
  <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Econômia</h5>
  <br>
  <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Created</h1>
  <div class="section-header-breadcrumb">     
    <i style="font-size: 90px;" class="fas fa-server"></i>
  </div>
</div>
<div class="section-body">  
  <h2 class="section-title">Adicionar um novo País</h2>
  <p class="section-lead">
    Informações da Econômina dos países e territórios dependentes pela população,
  </p>  
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Formulário de pesquisa do pais</h4>
          </div>
          <form action="." method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="alert alert-danger">
                <b>Nota!</b> Os dados do País e volume tem sser preenchido corretamente.
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Nome do País</label>
                      <input class="form-control" type="text" name="search">
                  </div>
                </div>                                           
              </div>                                         
            </div>
            <div class="card-footer text-right">
              <button class="btn btn-outline-success mr-1" type="submit">Search</button>
              <button class="btn btn-danger" type="reset">Cancelar</button>
            </div>
          </form>
        </div>               
    </div>
</div>

{% endblock %}
