{% extends 'dashboard/base.html' %}
{% load static %}

      
{% block dashboard %}

</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/fixa.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Renda Fixa</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Tesouro Direto</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-wallet"></i>
    </div>
    </div>

    <div class="section-body">    
        <h2 class="section-title">Lista do Tesouro Direto</h2>
        <p class="section-lead">
           Um programa de compra e venda de títulos públicos federais para pessoas físicas, com a segurança do Tesouro Nacional.
        </p>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">         
       			<div class="card bg-default shadow mt-5">
		            <div class="card-header bg-transparent border-0">
		              <h3 class="text-white mb-0">Tesouro Direto do Mês de /<span class="text-success"> Abril</span></h3>
		            </div>
		            <div class="table-responsive">
		              <table class="table align-items-center table-dark table-flush">
		                <thead class="thead-dark">
		                  <tr>
		                    <th scope="col">Institução</th>
		                    <th scope="col">Minimo</th>
		                    <th scope="col">Status</th>
		                    <th scope="col">Carência</th>
		                    <th scope="col">Imposto</th>
		                    <th scope="col">FGC</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr>
		                    <th scope="row">
		                      <div class="media align-items-center">
		                        <a href="#" class="avatar rounded-circle mr-3">
		                          <img alt="Image placeholder" src="https://s3.sa-east-1.amazonaws.com/remotar-assets-prod/company-profile-pictures/cl81o7j8f006x04u6cbkccfry.jpg">
		                        </a>
		                        <div class="media-body">
		                          <span class="mb-0 text-sm">PagBank</span>
		                        </div>
		                      </div>
		                    </th>
		                    <td>
		                      R$ 500,00
		                    </td>
		                    <td>
		                      <span class="badge badge-dot mr-4">
		                        <i class="bg-warning"></i> Bom
		                      </span>
		                    </td>
		                    <td>
		                      180 dias
		                    </td>
		                    <td>SIM</td>
		                    <td>SIM</td>
		                  </tr>		                 
		                </tbody>
		              </table>
		            </div>
		        </div>
            </div>            
        </div>         
    </div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


{% endblock %}
