{% extends 'dashboard/base.html' %}
{% load static %}






{% block dashboard %}
<!-- Main Content -->

<style type="text/css">
.voltar i
{
  font-size: 40px;
}

.voltar i:hover
{
  color: yellowgreen;
}

.logo
{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1.0)!important;

}

</style>

<link rel="stylesheet" href="{% static 'css/cripto.css' %}">

<div style="height: 110px!important;" class="section-header">
  <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Trading Automático</h5>
  <br>
  <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Exchanges</h1>
  <div class="section-header-breadcrumb">
  {% if data_crypto.logo %}       
    <i><img width="90" src="{% static 'images/crypto/moeda.png' %}"></i>
  {% else %}
  <i style="font-size: 70px; color: #000066;" class="fas fa-money-check"></i>
  {% endif %}
  </div>
</div>
<div class="section-body">     
  <h2 class="section-title">Lista das exchanges</h2>
  <p class="section-lead">
    Exchange é uma plataforma digital que oferece a compra, a venda e a troca de criptoativos.
  </p>
  <div class="row mb-5">
    {% for exchange in exchanges %}
    <div class="col-md-4 mb-5">
      <div class="wrapper text-center">
        <div style="position: relative; left: -19px;" class="img-area ml-5">
          <div class="inner-area">
            <img src="{{ exchange.image }}" alt="">
          </div>
        </div>                  
       <div class="name">{{ exchange.name }}</div>                  
    <div style="background: transparent!important;" class="">{{ exchange.id  }}</div>
    <br>
    <br>
    <div class="buttons ml-5">
      <a class="ml-5" href="{% url 'crypto:trading_plataforma_automatico_detail' exchange.id %}"><button>Mais Informações</button></a>                  
    </div>
    <div class="social-share">      
      <div class="row">                      
      <span>PC: <span >{{ exchange.trust_score }}</span></span>
      </div>
      <div class="row">                      
        <span>Pais:<span class="text-success"> {{ exchange.country |truncatechars:17 }}</span></span>
      </div>
      <div class="row">                      
        <span>Rank:<span > {{ exchange.trust_score_rank }}</span></span>
      </div>
    </div>
    </div>
    </div>
    {% endfor %}
  </div>
  <br><br><br><br>              
  </div>
</div>
{% block chart %}

<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>





</script>

{% endblock %}
{% endblock %}
