{% extends 'dashboard/base.html' %}
{% load static %}






{% block dashboard %}
<!-- Main Content -->

<style type="text/css">
.voltar i
{
  font-size: 40px;
}

.voltar i:hover
{
  color: yellowgreen;
}

.logo
{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1.0)!important;

}

</style>

<link rel="stylesheet" href="{% static 'css/cripto.css' %}">

<div style="height: 110px!important;" class="section-header">
  <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Trading Automático</h5>
  <br>
  <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Bots</h1>
  <div class="section-header-breadcrumb">
  {% if data_crypto.logo %}       
    <i><img width="90" src="{% static 'images/crypto/moeda.png' %}"></i>
  {% else %}
  <i style="font-size: 70px; color: #000066;" class="fas fa-robot"></i>
  {% endif %}
  </div>
</div>
<div class="section-body">
  <a href="{% url 'crypto:trading_plataforma_automatico_detail' exchange.id %}"><div class=" float-right icon-top text-dark voltar"  data-toggle="tooltip" data-placement="top" title="Voltar"><i class="fas fa-reply"></i></div></a>   
  <h2 class="section-title">Informações dos bots</h2>
  <p class="section-lead">
    O Bot Trading robôs programados para operar por você! O robôs trader um sistema que negocia ativos financeiros automaticamente.
  </p>
  <div class="row mb-5">
   
    <div class="col-md-4 mb-5">
      <div class="wrapper text-center">
        <div style="position: relative; left: -19px;" class="img-area ml-5">
          <div class="inner-area">
            <img src="https://s.yimg.com/ny/api/res/1.2/IxGOvJ829wrwqfP.MGz7.Q--/YXBwaWQ9aGlnaGxhbmRlcjt3PTcwNTtoPTcwNQ--/https://s.yimg.com/uu/api/res/1.2/USa0DITGpMF9D_qa8nK0Eg--~B/aD00MDA7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/pt/canal_tech_990/08e761211e59c0fe1355dba58094b793" alt="">
          </div>
        </div>                  
       <div class="name">ciclope</div>                  
    <div >Automatico</div>
    <br>
    <br>
    <div class="buttons ml-5">
      <a class="ml-5" href="{% url 'crypto:trading_automatico_operation' exchange.id %}"><button>Mais Informações</button></a>                  
    </div>
    <div class="social-share">      
      <div class="row">                      
      <span>Loss: <span >1</span></span>
      </div>
      <div class="row">                      
        <span>Gain: 9</span>
      </div>
      <div class="row">                      
        <span>Rank:<span > 1</span></span>
      </div>
    </div>
    </div>
    </div>
  
  </div>
  <br><br><br><br>              
  </div>

</div>

{% block chart %}

<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>





</script>

{% endblock %}
{% endblock %}
