{% extends 'dashboard/base.html' %}
{% load static %}



{% block dashboard %}

<style>
    .dropdown li 
    {
        list-style: none;
    }

    .name
    {
        text-decoration: none;
    }
</style>
<!-- Main Content -->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-stats">
                  <div class="card-stats-title"> Estatisticas financeira -
                    <div class="dropdown d-inline">
                      {% if month == 1 %}                      
                      <a href="#" class="font-weight-600 ml-5 ">Janeiro <i class="ml-2 fa fa-calendar"></i></a>
                      {% elif month == 2 %}
                      <li><a href="#" class="font-weight-600 ml-5">Fevereiro <i class="fa fa-calendar"></i></a></li>
                      {% elif month == 3 %}
                      <a href="#" class="font-weight-600 ml-5 ">Março <i class="ml-2 fa fa-calendar"></i></a>
                      {% elif month == 4 %}
                      <a href="#" class="font-weight-600 ml-5">Abril <i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 5 %}
                      <a href="#" class="font-weight-600 ml-5">Maio <i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 6 %}
                      <a href="#" class="font-weight-600 ml-5">Junho<i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 7  %}
                      <a href="#" class="font-weight-600 ml-5">Julho<i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 8 %}
                      <a href="#" class="font-weight-600 ml-4">Agosto<i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 9 %}
                      <a href="#" class="font-weight-600 ml-4">Setembro<i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 10 %}
                      <a href="#" class="font-weight-600 ml-4">Outubro<i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 11 %}
                      <a href="#" class="font-weight-600 ml-4">Novembro<i class=" ml-2 fa fa-calendar"></i></a>
                      {% elif month == 12 %}
                      <a href="#" class="font-weight-600 ml-4">Dezembro<i class=" ml-2 fa fa-calendar"></i></a>
                      {% else %}
                      <a href="#" class="font-weight-600 ml-4">Atualizando....</a>
                      {% endif %}  
                    </div>
                  </div>
                  <div class="card-stats-items">
                    <div class="card-stats-item">
                      <div class="card-stats-item-count">R$ 0,00</div>
                      <div class="card-stats-item-label">Dinheiro</div>
                    </div>
                    <div class="card-stats-item">
                      {% if  user.investimento > 0 %}
                      <div class="card-stats-item-count">R$ <span class="text-success"> + {{ user.investimento }}</span></div>
                       {% elif  user.investimento < 0 %}
                      <div class="card-stats-item-count">R$ <span class="text-danger"> + {{ user.investimento }}</span></div>
                      {% else %}
                      <div class="card-stats-item-count">R$ 0,00</div>
                      {% endif %}
                      <div class="card-stats-item-label">investido</div>
                    </div>
                    <div class="card-stats-item">
                      <div class="card-stats-item-count">R$ 0,00</div>
                      <div class="card-stats-item-label">Retorno</div>
                    </div>
                  </div>
      </div>
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total</h4>
        </div>
        <div class="card-body">R$
          {% if total > 0 %}
            <span class="text-success">+ {{ total }}</span>
            {% elif total < 0 %}
            <span class="text-danger">- {{ total }}</span>
          {% else %}
            0,00
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-chart">
        <canvas id="investimento" height="80"></canvas>
      </div>
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
        <h4>Inverstimento</h4>
        </div>
        <div class="card-body">
          R$
          {% if user.investimento > 0 %}
          <span class="text-success"> + {{ user.investimento }}</span>
          {% elif user.investimento < 0 %}
          <span class="text-danger"> - {{ user.investimento }}</span>
          {% else %}
          R$ 0,00
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-chart">
        <canvas id="retorno" height="80"></canvas>
      </div>
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-history"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Retorno</h4>
        </div>
        <div class="card-body">
          R$ 0,00
        </div>
      </div>
    </div>
  </div>
  </div>         
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Mercado de Capitais</h4>
                  <div class="card-header-form">
                    <form>
                      <div class="input-group">
                      <input type="text" class="form-control" name="search" placeholder="Search">
                      <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                      </div>
                      </div>
                    </form>
                  </div>
          </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>               
                  <th>Código</th>                          
                  <th>Tipo</th>
                  <th>Nome</th>
                  <th>Moeda</th>
                  <th>Isin</th>
                  <th>Pais</th>                 
                </tr>             
                {% for instituicao in instituicoes %}
                <tr>               
                <td class="p-0 text-center">
                  {{ instituicao.symbol }}
                </td>
                <td><a class="name" href="#" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title=" Click adicionar a crypto {{ crypto.name }}">{{ instituicao.name  }}</a></td>
                <td class="align-middle"> {{ instituicao.full_name }}</td>
                <td>{{ instituicao.currency }}</td>
                <td> 
                <span class="text-success">{{ instituicao.isin }}</span>
                </td>
                <td>{{ instituicao.country |title }}</td>           
                </tr>
                {% endfor %}                
              </tbody>
            </table>
          </div>
        </div>       
      </div>
    </div>            
  </div>


{% block chart %}
<script type="text/javascript">

var balance_chart = document.getElementById("investimento").getContext('2d');

var balance_chart_bg_color = balance_chart.createLinearGradient(0, 0, 0, 70);
balance_chart_bg_color.addColorStop(0, 'rgba(63,82,227,.2)');
balance_chart_bg_color.addColorStop(1, 'rgba(63,82,227,0)');

var myChart = new Chart(balance_chart, {
  type: 'line',
  data: {
    labels: ['16-07-2018', '17-07-2018', '18-07-2018', '19-07-2018', '20-07-2018', '21-07-2018', '22-07-2018', '23-07-2018', '24-07-2018', '25-07-2018', '26-07-2018', '27-07-2018', '28-07-2018', '29-07-2018', '30-07-2018', '31-07-2018'],
    datasets: [{
      label: 'Balance',
      data: [50, 61, 80, 50, 72, 52, 60, 41, 30, 45, 70, 40, 93, 63, 50, 62],
      backgroundColor: balance_chart_bg_color,
      borderWidth: 3,
      borderColor: 'rgba(63,82,227,1)',
      pointBorderWidth: 0,
      pointBorderColor: 'transparent',
      pointRadius: 3,
      pointBackgroundColor: 'transparent',
      pointHoverBackgroundColor: 'rgba(63,82,227,1)',
    }]
  },
  options: {
    layout: {
      padding: {
        bottom: -1,
        left: -1
      }
    },
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        gridLines: {
          display: false,
          drawBorder: false,
        },
        ticks: {
          beginAtZero: true,
          display: false
        }
      }],
      xAxes: [{
        gridLines: {
          drawBorder: false,
          display: false,
        },
        ticks: {
          display: false
        }
      }]
    },
  }
});

var sales_chart = document.getElementById("retorno").getContext('2d');

var sales_chart_bg_color = sales_chart.createLinearGradient(0, 0, 0, 80);
balance_chart_bg_color.addColorStop(0, 'rgba(63,82,227,.2)');
balance_chart_bg_color.addColorStop(1, 'rgba(63,82,227,0)');

var myChart = new Chart(sales_chart, {
  type: 'line',
  data: {
    labels: ['16-07-2018', '17-07-2018', '18-07-2018', '19-07-2018', '20-07-2018', '21-07-2018', '22-07-2018', '23-07-2018', '24-07-2018', '25-07-2018', '26-07-2018', '27-07-2018', '28-07-2018', '29-07-2018', '30-07-2018', '31-07-2018'],
    datasets: [{
      label: 'Sales',
      data: [70, 62, 44, 40, 21, 63, 82, 52, 50, 31, 70, 50, 91, 63, 51, 60],
      borderWidth: 2,
      backgroundColor: balance_chart_bg_color,
      borderWidth: 3,
      borderColor: 'rgba(63,82,227,1)',
      pointBorderWidth: 0,
      pointBorderColor: 'transparent',
      pointRadius: 3,
      pointBackgroundColor: 'transparent',
      pointHoverBackgroundColor: 'rgba(63,82,227,1)',
    }]
  },
  options: {
    layout: {
      padding: {
        bottom: -1,
        left: -1
      }
    },
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        gridLines: {
          display: false,
          drawBorder: false,
        },
        ticks: {
          beginAtZero: true,
          display: false
        }
      }],
      xAxes: [{
        gridLines: {
          drawBorder: false,
          display: false,
        },
        ticks: {
          display: false
        }
      }]
    },
  }
});

</script>

{% endblock %}
{% endblock %}
