{% extends 'dashboard/base.html' %}
{% load static %}



{% block dashboard %}
<!-- Main Content -->

<div style="height: 110px!important;" class="section-header">
  <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Mercado</h5>
  <br>
  <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Cryptocurrency</h1>
  <div class="section-header-breadcrumb">       
      <i style="font-size: 70px; color: #000066;" class="fab fa-btc"></i>
  </div>
</div>

<div class="section-body">            
  <h2 class="section-title">Mercado do Cryptocurrency</h2>
  <p class="section-lead">
    Analizando os mercados de <strong class="text-danger font-weight-bold">Cryptocurrency</strong> com o objetivo avaliar as melhores condições para se realizar ou não a compra do ativo.
  </p>
  <br>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Crypto Ativos</h4>
                  <div class="card-header-form">
                    <form>
                      <div class="input-group">
                      <input type="text" class="form-control" name="search" placeholder="Search">
                      <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                      </div>
                      </div>
                    </form>
                  </div>
          </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped" id="table">
              <tbody>
                <tr>
                  <th>Ranking</th>
                  <th>crypto</th>                          
                  <th>Nome</th>
                  <th>Código</th>
                  <th>Preço</th>
                  <th>Maximo</th>
                  <th>Minimo</th>
                  <th>Porcetagem</th>
                  <th>Tendência</th>
                </tr> 
                {% if data_crypto %}            
                {% for crypto in data_crypto %}
                <tr>
                <td>{{ crypto.market_cap_rank }}</td>
                <td class="p-0 text-center">
                  <img width="40" src="{{ crypto.image }}">
                </td>
                <td><a href="{% url 'crypto:detail' crypto.id crypto.name %}" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title=" Mais Informações do {{ crypto.name }}">{{ crypto.name }}</a></td>
                <td class="align-middle"> {{ crypto.symbol |upper }} </td>
                <td> $ {{ crypto.current_price }}</td>
                <td> 
                <span class="text-success">{{ crypto.high_24h }}</span>
                </td>
                <td>
                  <span class="text-success">{{ crypto.low_24h }}</span>
                </td>
                <td>
                  {% if crypto.price_change_percentage_24h > 0 %}
                  <span class="text-success">+{{ crypto.price_change_percentage_24h  }}%</span>
                  {% elif crypto.price_change_percentage_24h < 0 %}
                  <span class="text-danger">{{ crypto.price_change_percentage_24h  }}%</span>
                  {% else %}
                  <span >{{ crypto.price_change_percentage_24h  }}%</span>
                  {% endif %}
                </td>
                <td>{% if crypto.price_change_percentage_24h > 0 %}
                  <span class="text-success">Alta</span>
                  {% elif crypto.price_change_percentage_24h < 0 %}
                  <span class="text-danger">Baixa</span>
                  {% else %}
                  <span class="text-secondary">Normal</span>
                  {% endif %}                
                </td>
                </tr>
                {% endfor %}
                {% else %}                
                <tr>
                <td>{{ search_data.market_cap_rank }}</td>
                <td class="p-0 text-center">
                  <img width="40" src="{{ search_data.image.small }}">
                </td>
                <td><a href="{% url 'crypto:detail' search_data.id search_data.name %}" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title=" Click adicionar a crypto {{ crypto.name }}">{{ search_data.name }}</a></td>
                <td class="align-middle"> {{ search_data.symbol |upper }} </td>
                <td> $ {{ search_data.market_data.current_price.usd }}</td>
                <td> 
                <span class="text-success">{{search_data.market_data.high_24h.usd }}</span>
                </td>
                <td>
                  <span class="text-success">{{ search_data.market_data.low_24h.usd }}</span>
                </td>
                <td>
                  {% if search_data.market_data.price_change_percentage_24h > 0 %}
                  <span class="text-success">+{{ search_data.market_data.price_change_percentage_24h  }}%</span>
                  {% elif search_data.market_data.price_change_percentage_24h < 0 %}
                  <span class="text-danger">{{ search_data.market_data.price_change_percentage_24h  }}%</span>
                  {% else %}
                  <span >{{ search_data.market_data.price_change_percentage_24h  }}%</span>
                  {% endif %}
                </td>
                <td><span class="text-danger">Baixa</span></td>
                </tr>                              
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>       
      </div>
    </div>            
  </div>


{% block chart %}


{% endblock %}
{% endblock %}
