{% extends 'dashboard/base.html' %}
{% load static %}






{% block dashboard %}
<!-- Main Content -->

<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">

<style>

.link-detail:hover
{
    text-decoration: none;
}

.p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: .375rem;
  background-color: #fff;
  background-clip: border-box;
}


 .h2, .h5 {
font-size: 1.125rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  color: #32325d;
}

</style>

<div style="height: 110px!important;" class="section-header">
  <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Crypto</h5>
  <br>
  <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Tendências</h1>
  <div class="section-header-breadcrumb">     
    <i style="font-size: 90px;" class="fas fa-route"></i>
  </div>
</div>
<div class="section-body">  
  <h2 class="section-title">Informações de tendências</h2>
  <p class="section-lead">
    O mercado das criptomoedas só cresce e saber qual as tendências desses ativos é importante
  </p>  
    <div class="row mt-sm-4">
        {% for crypto in cryptos %}
        <div class="col-xl-3 col-lg-6 mb-5">
        <a class="link-detail" href="{% url 'crypto:detail' crypto.id crypto.name %}">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
              <div class="row">
                  <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ crypto.symbol }}</h5>                             
                  <span class="h2 font-weight-bold mb-0">$ {{ crypto.market_data.current_price.usd }}</span>               
                                </div>
                  <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle ">
                      <i><img src="{{ crypto.image.small }}" alt=""></i>
                  </div>
                  </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm ">               
                  <span class="text-success mr-2">
                      {% if crypto.market_data.ath_change_percentage.usd > 0 %}
                      <span class="text-success">+{{ crypto.market_data.ath_change_percentage.usd  }}%</span>
                      {% elif crypto.market_data.ath_change_percentage.usd < 0 %}
                      <span class="text-danger">{{ crypto.market_data.ath_change_percentage.usd  }}%</span>
                      {% else %}
                      <span >0%</span>
                      {% endif %}
                  </span>                
              
                  <span class="text-nowrap">{{ crypto.name }}</span>
              </p>
              </div>
          </div>
        </a>
        </div>
        {% endfor %}    
    </div>

{% block chart %}
<script type="text/javascript">

var balance_chart = document.getElementById("estatisticas").getContext('2d');

var balance_chart_bg_color = balance_chart.createLinearGradient(0, 0, 0, 70);
balance_chart_bg_color.addColorStop(0, 'rgba(63,82,227,.2)');
balance_chart_bg_color.addColorStop(1, 'rgba(63,82,227,0)');

var myChart = new Chart(balance_chart, {
  type: 'line',
  data: {
    labels: ['16-07-2018', '17-07-2018', '18-07-2018', '19-07-2018', '20-07-2018', '21-07-2018', '22-07-2018', '23-07-2018', '24-07-2018', '25-07-2018', '26-07-2018', '27-07-2018', '28-07-2018', '29-07-2018', '30-07-2018', '31-07-2018'],
    datasets: [{
      label: 'Balance',
      data: [0, 62, 144, 440, 1210, 630, 1820, 2252, 1502, 2831, 1170, 3510, 910, 4063, 1251, 4607],
      backgroundColor: balance_chart_bg_color,
      borderWidth: 3,
      borderColor: 'rgba(63,82,227,1)',
      pointBorderWidth: 0,
      pointBorderColor: 'transparent',
      pointRadius: 3,
      pointBackgroundColor: 'transparent',
      pointHoverBackgroundColor: 'rgba(63,82,227,1)',
    }]
  },
  options: {
    layout: {
      padding: {
        bottom: -1,
        left: -1
      }
    },
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        gridLines: {
          display: false,
          drawBorder: false,
        },
        ticks: {
          beginAtZero: true,
          display: false
        }
      }],
      xAxes: [{
        gridLines: {
          drawBorder: false,
          display: false,
        },
        ticks: {
          display: false
        }
      }]
    },
  }
});

var sales_chart = document.getElementById("retorno").getContext('2d');

var sales_chart_bg_color = sales_chart.createLinearGradient(0, 0, 0, 80);
balance_chart_bg_color.addColorStop(0, 'rgba(63,82,227,.2)');
balance_chart_bg_color.addColorStop(1, 'rgba(63,82,227,0)');

var myChart = new Chart(sales_chart, {
  type: 'line',
  data: {
    labels: ['16-07-2018', '17-07-2018', '18-07-2018', '19-07-2018', '20-07-2018', '21-07-2018', '22-07-2018', '23-07-2018', '24-07-2018', '25-07-2018', '26-07-2018', '27-07-2018', '28-07-2018', '29-07-2018', '30-07-2018', '31-07-2018'],
    datasets: [{
      label: 'Sales',
      data: [0, 62, 144, 440, 1210, 1630, 1820, 2252, 2502, 2831, 3170, 3510, 3910, 4063, 4251, 4607],
      borderWidth: 2,
      backgroundColor: balance_chart_bg_color,
      borderWidth: 3,
      borderColor: 'rgba(63,82,227,1)',
      pointBorderWidth: 0,
      pointBorderColor: 'transparent',
      pointRadius: 3,
      pointBackgroundColor: 'transparent',
      pointHoverBackgroundColor: 'rgba(63,82,227,1)',
    }]
  },
  options: {
    layout: {
      padding: {
        bottom: -1,
        left: -1
      }
    },
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        gridLines: {
          display: false,
          drawBorder: false,
        },
        ticks: {
          beginAtZero: true,
          display: false
        }
      }],
      xAxes: [{
        gridLines: {
          drawBorder: false,
          display: false,
        },
        ticks: {
          display: false
        }
      }]
    },
  }
});

</script>
    <script>
        $('.skill-per').each(function () {
            var $this = $(this);
            var per = $this.attr('per');
            $this.css("width", per + '%');
            $({ animatedValue: 0 }).animate({ animatedValue: per }, {
                duration: 1000,
                step: function () {
                    $this.attr('per', Math.floor(this.animatedValue) + '%');

                },
                complete: function () {
                    $this.attr('per', Math.floor(this.animatedValue) + '%');

                }

            });
        });
    </script>
{% endblock %}
{% endblock %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Skills Bar | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 

</body>
</html>


