{% extends "accounts.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}SmartCity | Redefinição de senha {% endblock %}

{% block content %}
<div class="password-reset-img">
    <img src="{% static 'img/logotipo.png' %}" alt="SmartCity">
</div>
<br>
<div class="voltar">
  <a href="{% url 'login' %}"><div class=" float-left ml-5 icon-top text-dark"  data-toggle="tooltip" data-placement="top" title="Voltar"><i class="fas fa-reply-all"></i></div></a>                 
</div>
<div class="password-wrapper">
  <div class="row">
    <div class="col-12">
      
    </div>
  </div> 
  <div class="container password-content">               
                <div class="row row-logout ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-logout ">
                  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logout-text form-Ess-input">
                        <h1>Esqueceu sua senha?</h1>
                        <p class="p-email">Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para definir uma nova senha.</p>
                        <form class = 'Ess-input-form' action="." method="post">
                          {% bootstrap_form form %}
                        <button class = 'Ess-input' type="submit" value="Send e-mail">Send e-mail</button>
                        {% csrf_token %}
                        </form>
                    </div>
                </div>
  </div>
</div>
            <script>


function typeEffect(element, speed) {
	var text = element.innerHTML;
	element.innerHTML = "";
	
	var i = 0;
	var timer = setInterval(function() {
    if (i < text.length) {
      element.append(text.charAt(i));
      i++;
    } else {
      clearInterval(timer);
    }
  }, speed);
}


// application
var speed = 75;
var h1 = document.querySelector('h1 ');

var delay = h1.innerHTML.length * speed + speed;


// type affect to header
typeEffect(h1, speed);
typeEffect(h3, speed);






            </script>




{% endblock %}
