{% load static %}
<!doctype html>
<html lang="pt-br">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> EducaOne | Atualizado sua senha  </title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">

</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>
    <style>
    .password-change
    {
        position: relative;
        margin-left: 400px;
        margin-top: 190px;
    }
    </style>
    <!-- ============================================================== -->
    <!-- signup form  -->
    <!-- ============================================================== -->
   <div class="password-change">
    <form class="splash-container" style="overflow: visible;" method = 'post'>
        {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'index' %}"><img class="logo-img" src=" {% static 'img/logotipo.png' alt = 'logo' %}"></a>
                    <p>Por favor, insira suas informações de usuário.</p>
                </div>
                <div class="card-body">                
                     <div class="form-group">                    
                        <input id='pw' name='old_password' type="password" class="form-control form-control-lg" placeholder="Senha antiga" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'old_password';}"/>
                    </div>               
                    <div class="form-group">                   
                         <input id='pw' name='new_password1' type="password" class="form-control form-control-lg"  placeholder="Nova senha" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'new_password1';}"/>
                    </div>
                    <div class="form-group">                    
                        <input id='pw' name='new_password2' type="password" class="form-control form-control-lg"   placeholder="Confirme" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'new_password2';}"/>
                    </div>
                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary" type="submit">Atualizar senha</button>
                    </div>
                    
                    
                </div>
               
            </div>
        </form>
   </div>
</body>

 
</html>