
  
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
               
                <div class="row row-logout ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-logout">
                  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logout-text">
                       Digite o seus dados para redefinição de senha para e-mail {{ email }}. Siga o link abaixo:
                        {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
                        Seu nome de usuário, caso você tenha esquecido: {{ user.get_username }}
                    </div>
                </div>
            </div>


<script>


            function typeEffect(element, speed) {
              var text = element.innerHTML;
              element.innerHTML = "";
              
              var i = 0;
              var timer = setInterval(function() {
                if (i < text.length) {
                  element.append(text.charAt(i));
                  i++;
                } else {
                  clearInterval(timer);
                }
              }, speed);
            }


            // application
            var speed = 75;
            var h1 = document.querySelector('h1 ');

            var delay = h1.innerHTML.length * speed + speed;


            // type affect to header
            typeEffect(h1, speed);
            typeEffect(h3, speed);

</script>