{% extends "accounts.html" %}
{% load static %}

{% block title %}TradeOne Redefina sua senha{% endblock %}

{% block content %}

<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
       
        <div class="row row-logout ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-logout">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logout-text">
                    <h1 style=" margin-left: 500px!important;" class='text-desconectado welcome' >Bem vindo! {{ new_user.first_name }}!</h1>
                 <p class = "text-write">Sua conta foi criada com sucesso. Agora você pode.</p>
                  <a class= 'text-login welcome-login' style="margin-left: 876px!important;" href="{% url "login" %}">Seu login.</a>
            </div>
        </div>
    </div>



            <script>


function typeEffect(element, speed) {
	var text = element.innerHTML;
	element.innerHTML = "";
	
	var i = 0;
	var timer = setInterval(function() {
    if (i < text.length) {
      element.append(text.charAt(i));
      i++;
    } else {
      clearInterval(timer);
    }
  }, speed);
}


// application
var speed = 75;
var h1 = document.querySelector('h1 ');

var delay = h1.innerHTML.length * speed + speed;


// type affect to header
typeEffect(h1, speed);
typeEffect(h3, speed);






            </script>
{% endblock %}