{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <title>InvestGroup - perfil de investidor.</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="https://getbootstrap.com.br/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/massages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
    <script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>

    <!-- Estilos customizados para esse template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">
{% if messages %}
<div style="top: 110px; position: relative; z-index: 999;" class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">      
      <div class="card-body">
                    {% for message in messages %} 
                    {% if message.tags == 'error' %}    
                    <div id="messages" class="messages">
                      <div class="card-messages border-error">
                        <div class="content">
                          <div class="icon error"><i class="fas fa-exclamation"></i></div>
                          <div class="details">
                            <span class="text-dark">Ops, error.... </span>
                            <p  class="text-dark">{{ message }}</p>
                          </div>
                        </div>
                        <div class="close" onclick="hide()" class="close-icon"><i class="uil uil-times"></i></div>
                      </div>
                    </div>           
                    {% elif message.tags == 'success' %}
                    <div id="messages" class="messages">
                      <div class="card-messages border-success">
                        <div class="content">
                          <div class="icon success"><i class="fas fa-check"></i></div>
                          <div class="details">
                            <span class="text-dark">Parabéns..... </span>
                            <p  class="text-dark">{{ message }}</p>
                          </div>
                        </div>
                        <div class="close" onclick="hide()" class="close-icon"><i class="uil uil-times"></i></div>
                      </div>
                    </div>
                    {% elif message.tags == 'info' %}
                    <div id="messages" class="messages">
                      <div class="card-messages border-info">
                        <div class="content">
                          <div class="icon info"><i class="fas fa-file-signature"></i></div>
                          <div class="details">
                            <span class="text-dark">Atenção..... </span>
                            <p  class="text-dark">{{ message }}</p>
                          </div>
                        </div>
                        <div class="close" onclick="hide()" class="close-icon"><i class="uil uil-times"></i></div>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}    
      </div>      
    </div>
  </div>
</div>  
{% endif %}
<header>
  <a href="{% url 'index' %}" class="logo">
        <img class="d-block mx-auto mb-4" src="{% static 'img/logo.png' alt = 'logo' %}" alt="" width="140" >
  </a>
  <div>
    <h4 class="welcome">Bem Vindo! <span>{{ user }}</span></h4>
  </div>
</header>
<br>
<br>    
    <div class="container questionario">      
      <div class="py-5 text-center">
       
        <h2 class="section-title mt-5 mb-2">Qual o seu perfil de investidor?</h2>
        <p class="lead">O questionário vai apurar a situação financeira, o nível de experiência e a tolerância ao risco do investidor. Para conhecer a si mesmo é o primeiro passo para se ter sucesso no mundo dos investimentos.</p>
      </div>        
        <div class="row">
            <div class="col-md-12">

                <div class="btn-start">
                    <!--    Start Section     -->
                    <div id="start">Iniciar</div>
                </div>

                <!--    Guide Section    -->
                <div id="guide" onclick="iniciar()">
                   <h2>Guia do questionário </h2>
                     <h4>1. Você tem apenas 1 Minuto para cada pergunta.</h4>
                     <h4>2. Depois de selecionar sua resposta. Não pode ser desfeito.</h4>
                     <h4>3. Você será avaliados com base nas suas respostas.</h4>
                     <h4>4. Você não pode sair do questionário para passar para outra fase.</h4>
                    <div id="button">
                        <button id="exit" onclick="finalizar()">Exit</button>
                        <button id="continue" onclick="continuar()">Continue</button>
                    </div>
                </div>             
                  
                <!--    Quiz Section    -->
                <div id="quiz">
                    <div id="quiz_header">
                        <h5>Aplicativo do perfil de investidor!</h5>
                        <div id="timer">
                            <h6>Tempo </h6>
                            <h6 id="time">00</h6>
                        </div>
                    </div>

                    <!--     Quiz Questions  -->

                    <div id="question">
                        <h2 id="questionNo"></h2>
                        <h2 id="questionText"></h2>
                    </div>

                    <!--       Quiz Choices   -->

                    <div id="optionList">
                        <h4 class="choice_que" data-number = "1" id="option1"></h4>
                        <h4 class="choice_que" data-number = "2" id="option2"></h4>
                        <h4 class="choice_que" data-number = "3"  id="option3"></h4>                        
                    </div>

                    <!--  Answers Section-->

                    <div id="answersSection">
                        <h3 id="total_correct">3 de 10 Perguntas</h3>
                        <h3 id="next_question" onclick="proxima()">Proxima</h3>
                    </div>
                </div>
                <!--   Result Section  -->
                <div id="result">
                    <div class="completed">                       
                        <i class="fas fa-trophy"></i>
                        <h6>Você concluiu o questionário</h6>
                        <h6 id="perfil" >O seu Perfil de Investidor é <span id="perfil-result"></span></h6>
                        <button id="quit" onclick="finalizar()">Quit Quiz</button>
                        <button id="startAgain" onclick="finalizar()">Continue</button>
                </div>
            </div>
        </div> 


      <footer class="my-5 mt-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 investGroup</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacidade</a></li>
          <li class="list-inline-item"><a href="#">Termos</a></li>
          <li class="list-inline-item"><a href="#">Suporte</a></li>
        </ul>
      </footer>
    </div>

      

    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>

    <script type="text/javascript" src="{% static 'js/messages.js'  %}"></script>
     <script src="{% static 'js/quiz.js' %}"></script>
  
  </body>
</html>
