<div class="heading-elements heading-top-elements">
    <nav aria-label="Page navigation">
      <ul>
        <li class="page-item">
          {% if page.has_previous %}
          <a class="page-link border-0" href="?page={{ page.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
          {% endif %}
        </li>
        <li class="page-item"><a class="page-link border-0" href="#">{{ page.number }}</a></li>
        <li class="page-item active"><a class="page-link border-0" href="#">.</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">{{ page.paginator.num_pages }}</a></li>
        <li class="page-item">
          {% if page.has_next %}
          <a class="page-link border-0" href="?page={{ page.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>