{% extends 'manager/investing/base.html' %}
{% load static %}


{% block title %} InvestGroup | Análise da Selic para investimento com Inteligência Artificial {%  endblock %}

{% block dashboard %}
 <!-- BEGIN: Content-->
 
 <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Estatísticas Avançadas</h3>     
        </div>
        <div class="content-header-right col-md-6 col-12">
          <div class="dropdown float-md-right">
            <a href="{% url 'analytics:updated_selic' %}"><button class="btn btn-outline-secondary  round btn-glow px-2" id="dropdownBreadcrumbButton"
            type="button" >Atualizar</button></a>           
          </div>
        </div>
        
      </div>
      <div class="content-body">   
        <!-- // Icon section with gradient bg color section end -->
        <!-- stats with subtitle section start -->
        <br><br>
        <section id="stats-subtitle">          
          <div class="row">          
            <div class="col-xl-12 col-md-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                      <div class="align-self-center">
                        <i class="la la-line-chart warning font-large-2 mr-2"></i>
                      </div>
                      <div class="media-body">
                        <h4>Estatística da Taxa SELIC / IPCA</h4>
                        <span>​A Selic é a taxa básica de juros da economia. É o principal instrumento de política monetária utilizado pelo Banco Central (BC) para controlar a inflação.</span>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
          <div class="row">           
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Dados da  Evolução da Taxa  Selic</h4>
                        {% include "analytics/pagination.html" with page=posts %}                   
                    </div>
                    <div class="card-content">
                        <div class="table-responsive mt-1">
                            <table class="table table-xs">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Taxa</th>                             
                                    </tr>
                                </thead>
                                <tbody> 
                                  {% if posts %} 
                                  {% for taxa in posts %}                             
                                    <tr>
                                        <td>{{ taxa.data |date:"d/m/Y" }}</td>
                                        <td class="success">{{ taxa.taxa }}</td>                                                                              
                                    </tr>
                                    {% endfor %}                                
                                    {% endif %}                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Dados da  Evolução do IPCA </h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>                    
                    </div>
                    <div class="card-content">
                        <div class="table-responsive mt-1">
                            <table class="table table-xs">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Taxa</th>                             
                                    </tr>
                                </thead>
                                <tbody>                               
                                    <tr>
                                        <td>11:21:01</td>
                                        <td class="success">11903.45</td>                                                                              
                                    </tr>
                                    <tr>
                                        <td>11:21:01</td>
                                        <td class="success">11903.45</td>                                                                              
                                    </tr>  
                                    <tr>
                                        <td>11:21:01</td>
                                        <td class="success">11903.45</td>                                                                              
                                    </tr>  
                                    <tr>
                                        <td>11:21:01</td>
                                        <td class="success">11903.45</td>                                                                              
                                    </tr> 
                                    <tr>
                                      <td>11:21:01</td>
                                      <td class="success">11903.45</td>                                                                              
                                  </tr>  
                                  <tr>
                                    <td>11:21:01</td>
                                    <td class="success">11903.45</td>                                                                              
                                </tr>  
                                <tr>
                                  <td>11:21:01</td>
                                  <td class="success">11903.45</td>                                                                              
                              </tr>  
                              <tr>
                                <td>11:21:01</td>
                                <td class="success">11903.45</td>                                                                              
                            </tr>  
                            <tr>
                              <td>11:21:01</td>
                              <td class="success">11903.45</td>                                                                              
                            </tr>
                            <tr>
                              <td>11:21:01</td>
                              <td class="success">11903.45</td>                                                                              
                            </tr>                                         
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>         
        </div>        
        </section>
        <!-- line chart section start -->
        <section id="chartjs-line-charts">
          <!-- Line Chart -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Taxa Selic Chart</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                  </div>
                </div>
                <canvas id="myChart" width="400" height="400"></canvas>
              </div>
            </div>
          </div>         
        </section>
       
        <!-- // line chart section end -->
      </div>
    </div>
</div>     




  <!-- END PAGE LEVEL JS-->

  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for item in qs%}'{{item.data}}',{% endfor %}],
            datasets: [{
                label: '# of Votes',
                data: [{% for item in qs%}'{{item.taxa}}',{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
{% endblock %}