li{% extends 'dashboard/base.html' %}
{% load static %}





{% block dashboard %}
<style type="text/css">
  
.add i
{
  font-size: 40px;
}

.add i:hover
{
  color: yellowgreen;
}

.icon-add
{
      font-size: 14px;
    margin-bottom: 8px;
}

.icon-add:hover
{
  text-decoration: none;
}

.icon-add i
{
  font-size: 14px;
}


</style>
<section class="section">
    <div class="row">            
      	<div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Gerenciamento Financeiro
              <div class="dropdown d-inline ml-2">
                {% if month == 1 %}                      
                <a href="#" class="font-weight-600 dropdown-toggle"> Janeiro</a>
                {% elif month == 2 %}
                <li><a href="#" class="font-weight-600 dropdown-toggle"> Fevereiro</a></li>
                {% elif month == 3 %}
                <a href="#" class="font-weight-600 dropdown-toggle"> Março</a>
                {% elif month == 4 %}
                <a href="#" class="font-weight-600 dropdown-toggle"> Abril</a>
                {% elif month == 5 %}
                <a href="#" class="font-weight-600 dropdown-toggle"> Maio</a>
                {% elif month == 6 %}
                <a href="#" class="font-weight-600 dropdown-toggle"> Junho</a>
                {% elif month == 7  %}
                <a href="#" class="font-weight-600 dropdown-toggle"> Julho</a>
                {% elif month == 8 %}
                <a href="#" class="font-weight-600 dropdown-toggle">Agosto</a>
                {% elif month == 9 %}
                <a href="#" class="font-weight-600 dropdown-toggle">Setembro</a>
                {% elif month == 10 %}
                <a href="#" class="font-weight-600 dropdown-toggle">Outubro</a>
                {% elif month == 11 %}
                <a href="#" class="font-weight-600 dropdown-toggle">Novembro</a>
                {% else %}
                <a href="#" class="font-weight-600 "> Dezembro</a>
                {% endif %}                      
              </div>
            </div>
            <div class="card-stats-items">
              <div class="card-stats-item">
                      {% if condominio.caixa > 0%}
                      <div class="card-stats-item-count">R$: {{ condominio.caixa  }}</div>
                      {% else %}
                      <div class="card-stats-item-count">R$: 0,00</div>
                      {% endif %}
                      <div class="card-stats-item-label">Receitas</div>
              </div>
              <div class="card-stats-item">
                      {% if condominio.receitas > 0 %}
                      <div class="card-stats-item-count text-su">R$: {{ condominio.receitas }}</div>
                      {% else %}
                      <div class="card-stats-item-count">R$: 0,00</div>
                      {% endif %}
                      <div class="card-stats-item-label">Despesas</div>
              </div>
              <div class="card-stats-item">
                      {% if condominio.despesas > 0 %}
                      <div class="card-stats-item-count">R$:{{ condominio.despesas }}</div>
                      {% else %}
                      <div class="card-stats-item-count">R$: 0,00</div>
                      {% endif %}
                      <div class="card-stats-item-label">Cartão</div>
              </div>
            </div>
          </div>
          <div class="card-icon shadow-primary ">
            <i class="fas fa-wallet"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Saldo Atual</h4>
            </div> 
            <div class="card-body">
              R$:
              {% if condominio.caixa > 0%}          
                  <span class="text-success"> + {{ condominio.caixa }}</span>              
              {% elif condominio.caixa < 0 %}             
                  <span class="text-danger"> {{ condominio.caixa }}</span>              
              {% else %}         
                0,00              
              {% endif %}
              </div>                   
          </div>
        </div>
      	</div>
      	<div class="col-lg-4 col-md-4 col-sm-12">
        	<div class="card card-statistic-2">
                <div class="card-chart">
                  <canvas id="receitas" height="80"></canvas>
                </div>
                <div class="card-icon shadow-primary ">
                  <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Receitas</h4>
                  </div>
                  <div class="card-body">
                    R$ 0,00
                  </div>
                </div>
            </div>
       	</div>
       	<div class="col-lg-4 col-md-4 col-sm-12">
        	<div class="card card-statistic-2">
                <div class="card-chart">
                  <canvas id="despesas" height="80"></canvas>
                </div>
                <div class="card-icon shadow-primary">
                  <i class="fas fa-shopping-basket"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Despesas</h4>
                  </div>
                  <div class="card-body">
                    R$ 0,00
                  </div>
                </div>
            </div>
       	</div>              
    </div>
</section>

    <div class="section-body">
        <div style="cursor: pointer;" class=" pe-auto float-right icon-top text-dark add"  data-toggle="tooltip" data-placement="top" title="Receitas / Despesas"><i  data-toggle="modal" data-target="#exampleModal" class=" pe-auto  fas fa-plus"></i></div> 
        <h2 class="section-title">Gerenciamento financeiro</h2>
        <p class="section-lead">
         Lista de boletos referente ao pagamento das prestações condominiais.
        </p>
       <div class="row">
         <div class="col-12">         
            <!-- Dark table -->
            <div class="row mt-5">
              <div class="col">
                <div class="card bg-default shadow">
                  <div class="card-header bg-transparent border-0">
                    <h4 class="title-boleto text-dark mb-0">Movimentação Mensal / 
                        <span class="text-success">
                            {% if month == 1 %}
                            Janeiro
                            {% elif month == 2 %}
                            Fevereiro
                            {% elif month == 3 %}
                            Março
                            {% elif month == 4 %}
                            Abril
                            {% elif month == 5 %}
                            Maio
                            {% elif month == 6 %}
                            Junho
                            {% elif month == 7 %}
                            Julho
                            {% elif month == 8 %}
                            Agosto
                            {% elif month == 9 %}
                            Setembro
                            {% elif month == 10 %}
                            Outubro
                            {% elif month == 11 %}
                            Novembro
                            {% elif month == 12 %}
                            Dezembro
                            {% endif %}
                        </span>
                    </h4>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-striped">
                      <tbody><tr>
                        <th>codigo ID</th>
                        <th>Categoria</th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>tipo</th>
                        <th>Moeda</th>
                        <th>Valor</th>
                      </tr>
                      {% for movimento in movimentos %}
                      <tr>
                        <td><a href="#">{{ movimento.id }}</a></td>
                        <td class="font-weight-600">{{ movimento.categoria.nome }}</td>
                        <td>
                          {% if movimento.fixa ==  True %}
                          <div class="badge badge-success">{{ movimento.status }}</div>
                          {% else %}
                          <div class="badge badge-danger">{{ movimento.status }}</div>
                          {% endif %}
                        </td>
                        <td>{{ movimento.created |date }}</td>
                        <td>
                          {% if movimento.fixa ==  True %}
                            Renda fixa
                          {% else %}
                            Renda variável 
                          {% endif %}
                        </td>
                        <th>{{ movimento.moeda }}</th>
                        <td>{{ movimento.valor}}</td>
                      </tr>
                      {% endfor%}                   
                    </tbody></table>
                  </div>
                </div>
              </div>
             
            </div>
            </div>          
            </div>
        </div>
    </div>     
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Receitas ou Despesas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="flex-column d-flex align-items-start ">
                <a class="icon-add text-dark" href="{% url 'pessoal:add_receitas' %}"><i class="fas fa-long-arrow-alt-up text-success"></i> Adicionar Receitas</a>
                <a class="icon-add text-dark" href=""><i class="fas fa-long-arrow-alt-down text-danger"></i> Adicionar  Despesas</a>
                </div>
                
              </div>
          </div>
        </div>
      </div>



{% endblock %}  
        

