{% extends 'dashboard/base.html' %}
{% load static %}









{% block dashboard %}
 <!-- Main Content -->
<div style="height: 110px!important;" class="section-header">
            <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Management</h5>
            <br>
            <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Settings</h1>
            <div class="section-header-breadcrumb">       
                <i style="font-size: 70px; color: #000066;" class="fa fa-cogs"></i>
            </div>
</div>
<div class="section-body">
            <h2 class="section-title">Visão geral</h2>
            <p class="section-lead">
              Organize e ajuste todas as configurações deste site..
            </p>

            <div class="row">
              <div class="col-lg-6">
                <div class="card card-large-icons">
                  <div class="card-icon bg-secondary text-white">
                    <i class="fas fa-user-cog"></i>
                  </div>
                  <div class="card-body">
                    <h4>Em general</h4>
                    <p>General settings such as, site title, site description, address and so on.</p>
                    <a href="features-setting-detail.html" class="card-cta">Alterar configuração  <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-large-icons">
                  <div class="card-icon bg-primary text-white">
                    <i class="fas fa-search"></i>
                  </div>
                  <div class="card-body">
                    <h4>SEO</h4>
                    <p>Configurações de otimização de mecanismo de pesquisa, como metatags e mídia social.</p>
                    <a href="features-setting-detail.html" class="card-cta">Alterar configuração  <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-large-icons ">
                  <div class="card-icon bg-white text-dark border-right ">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="card-body">
                    <h4>E-mail</h4>
                    <p>Configurações de e-mail SMTP, notificações e outras relacionadas a e-mail..</p>
                    <a href="features-setting-detail.html" class="card-cta">Alterar configuração  <i class=" fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-large-icons">
                  <div class="card-icon bg-warning text-white">
                    <i class="fas fa-power-off"></i>
                  </div>
                  <div class="card-body">
                    <h4>Sistema</h4>
                    <p>Configurações de versão do PHP, fusos horários e outros ambientes..</p>
                    <a href="features-setting-detail.html" class="card-cta">Alterar configuração <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-large-icons">
                  <div class="card-icon bg-danger text-white">
                    <i class="fas fa-lock"></i>
                  </div>
                  <div class="card-body">
                    <h4>Securança</h4>
                    <p>Configurações de segurança como firewalls, contas de servidor e outros.p>
                    <a href="features-setting-detail.html" class="card-cta">Alterar configuração  <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-large-icons">
                  <div class="card-icon bg-dark text-white">
                    <i class="fas fa-sitemap"></i>
                  </div>
                  <div class="card-body">
                    <h4>Automação</h4>
                    <p>Configurações sobre automação, como <strong class="text-dark">Api</strong>, automação de backup e assim por diante.</p>
                    <a href="{% url 'management:api' %}" class="card-cta text-primary">Alterar configuração  <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
</div>
{% endblock %}