{% extends 'management/base.html' %}
{% load static %}





{% block management %}
<link rel="stylesheet" href="{% static 'css/administration.css' %}">
<section class="section">

    <div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Questionário</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Created</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas  fa-server"></i>
    </div>
    </div>
  
</section>
<div class="section-body ">
    <a href="{% url 'quiz:questionnaires' %}">
    <div class=" float-right icon-top text-dark add-despesas"  data-toggle="tooltip" data-placement="top" title="Voltar">
        <i class="fas fa-reply-all"></i>
    </div>
    </a>
    <h2 class="section-title">Adcionando nova Questões</h2>
    <p class="section-lead">
        A análise {{ subjects.title }} é realizada através de um questionário, que analisa suas preferências e expectativas em investimentos.
    </p>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Formulario de Questões</h4>
                </div>
                <form action="." method="post">
                    {% csrf_token %}
                <div class="card-body">
                    <div class="alert alert-danger">
                      <b>Observação!</b> Todos os dados deve ser preenchido corretamente.
                    </div>
                 
                        {% csrf_token %}
                        <div class="row">                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>
                                    <label for="id_title">Title:</label>
                                    <input class="form-control" type="text" name="title" maxlength="400" required id="id_title">
                                    <span class="helptext">A Perguntas do questionario</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>
                                    <label for="id_subject">Subject:</label>
                                    <select class="form-control" name="subject" required id="id_subject" multiple>
                                      {% for subject in subjects %}
                                      <option value="{{ subject.id }}">{{ subject.title }}</option>
                                      {% endfor %}
                                      
                                    </select>
                                  </p>
                            </div>
                        </div> 
                                                    
                </div>                  
                </div>                
                <div class="card-footer text-right">
                    <button class="btn btn-outline-success mr-1" type="submit">Created</button>
                    <button class="btn btn-danger" type="reset">Cancelar</button>
                </div>
                </form>  
            </div>            
        </div>             
    </div>
</div>
{% endblock %}