{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <title>InvestGroup | Dashboard de Gerenciamento de Investimentos </title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/Charts.js/2.8.0/Chart.min.css" rel="stylesheet" />
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <!-- CSS Libraries -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/massages.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/jqvmap/dist/jqvmap.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/summernote/dist/summernote-bs4.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css'%}">
  <link href="{% static 'assets/plugins/nprogress/nprogress.css" rel="stylesheet' %}" />

  <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">    
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link id="sleek-css" rel="stylesheet" href="{% static 'assets/css/sleek.css' %}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>

    <style>

    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    .time
    {
      font-family: 'Orbitron', sans-serif;
      font-size: 28px;
      color: #fff;
    }
        .border-info
    {
      border-left: 10px solid #007bff ;    
    }

    .border-info .info i
    {
      color: #007bff;
      font-size: 70px;
      margin-top: -10px;
    }
    </style>


</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg bg-background"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto"  method='GET' class='' action='.'>
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
            <a class="nav-link time" id="timer" href="#">00 : 00:00</a>
          </ul>          
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="fas fa-people-arrows"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Colaboradores
                <div class="float-right">
                  
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-message">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-1.png' %}" class="rounded-circle">
                    <div class="is-online"></div>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b>
                    <p>Hello, Bro!</p>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-2.png' %}" class="rounded-circle">
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Dedik Sugiharto</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-3.png' %}" class="rounded-circle">
                    <div class="is-online"></div>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-4.png' %}" class="rounded-circle">
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-5.png' %}" class="rounded-circle">
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b>
                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Ver todos <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notificações
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Template update is available now!
                    <div class="time text-primary">2 Min Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="far fa-user"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-danger text-white">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Low disk space. Let's clean it!
                    <div class="time">17 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Welcome to Stisla template!
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Ver todas <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            {% if user.is_authenticated %}
            {% if user.img  %}
              <img alt="image" src="{{ user.img.url }}" class="online rounded-circle mr-1">
            {% else %}
              <img alt="image " src="{% static 'img/avatar-user.jpg' %}" class="off rounded-circle mr-1">
            {% endif %}
            {% endif %}
            {% if user.is_authenticated %}
            <div class="d-sm-none d-lg-inline-block">{{ user | title }}</div></a>
            {% else %}
            <div class="d-sm-none d-lg-inline-block"> Desconetado</div></a>
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title"> Conectou: <span >{{ user.last_login |date:"f" }}</span> Min</div>
              <a href="#" class="dropdown-item has-icon">
                <i class="far fa-user"></i> {{ user }}</a>
              <a href="features-activities.html" class="dropdown-item has-icon">
              {% if user.is_authenticated %}
                <i style = "color:#00ff00" class="fas fa-bolt"></i> Ativo
              {% else %}
                 <i class="fas fa-bolt"></i> Activities
              {% endif %}
              </a>
              <a href="#" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
    <div class="main-sidebar">
        <aside id="sidebar-wrapper">
           <div class="sidebar-brand">
            <a href="{% url 'index' %}"><img width="199" src="{% static 'assets/img/logo.png' %}"></a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'index' %}"><img width="19" src="{% static 'assets/img/logotipo.png' %}"></a>
          </div>
          <ul class="sidebar-menu">
              <li class="menu-header mt-4">Dashboard</li> 
              <li><a class="nav-link" href="{% url 'dashboard:manager' %}"><i class="fa fa-desktop"></i> <span>Painel Principal</span></a></li>
              <li class="menu-header mt-4">Finanças Pessoal</li> 
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fa fa-chart-pie"></i><span>Pessoal</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'pessoal:manager' %}">Manager</a></li>                             
                  </ul>
              </li>
               <li class="menu-header mt-4">Investimentos</li> 
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fa fa-chart-bar"></i><span>Ações</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Manager</a></li> 
                    <li><a class="nav-link" href="{% url 'acoes:setores' %}">Ciclos</a></li>                             
                  </ul>
              </li>

               <li class="menu-header mt-4">Trading</li> 
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fa fa-chart-line"></i><span>Operações</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'trading:manager' %}">Manager</a></li>         
                    <li><a class="nav-link" href="{% url 'trading:manager' %}">Gerenciamento</a></li>
                  </ul>
              </li>                  
              <li class="menu-header mt-4">Economia</li> 
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-globe"></i><span>Globals</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Calendario</a></li>     
                    <li><a class="nav-link" href="{% url 'economia:america_norte' %}">America Norte</a></li>
                    <li><a class="nav-link" href="{% url 'economia:america_sul' %}">America Sul</a></li>
                    <li><a class="nav-link" href="{% url 'economia:europa' %}">Europa </a></li>
                    <li><a class="nav-link" href="#">África</a></li> 
                    <li><a class="nav-link" href="{% url 'economia:asia' %}">Ásia</a></li>
                    <li><a class="nav-link" href="#">Oceania</a></li>                             
                  </ul>
              </li>
              <li class="menu-header mt-4">Analytics</li> 
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-sitemap"></i><span>Pré Mercado</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'analytics:marning_call' %}">Morning Call</a></li>                             
                  </ul>
              </li>
            </ul>           
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          {% if messages %}
              <div style="top: -15px; position:absolute; z-index: 999; left: -40px; width: 1110px;" class="container">
              <div class="row">
                <div class="col-sm-12 col-sm-offset-3">      
                    <div class="card-body">
                      {% for message in messages %} 
                      {% if message.tags == 'error' %}    
                       <div  class="section-header border-error" id="messages">
                        <h1 class="position-absolute ml-2 mb-4 error">Ops.....</h1>
                        <br>
                        <p class="mt-4 ml-2">{{ message }}.</p>
                        <div class="section-header-breadcrumb">       
                          <i style="font-size: 70px; " class="fas fa-window-close text-danger"></i>
                        </div>
                      </div>          
                      {% elif message.tags == 'success' %}
                      <div class="section-header border-success" id="messages">
                        <h1 class="position-absolute ml-2 mb-4 success">Parabéns.....</h1>
                        <br>
                        <p class="mt-4 ml-2">{{ message }}.</p>
                        <div class="section-header-breadcrumb">       
                          <i style="font-size: 70px; " class="fas fa-check-square success"></i>
                        </div>
                      </div>                
                      {% elif message.tags == 'info' %}                 
                      <div class="section-header border-info" id="messages">
                        <h1 class="position-absolute ml-2 mb-4 info">Informativo.....</h1>
                        <br>
                        <br>
                        <p class="mt-4 ml-2">{{ message }}.</p>
                        <div class="section-header-breadcrumb">       
                          <i style="font-size: 70px; " class="fas fa-info-circle info"></i>
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}    
                    </div>      
                  </div>
                </div>
            </div>  
            {% endif %}
          
        {% block dashboard %}






        {% endblock %}  
        
        
        </section>
      </div>
<div>
<footer class="main-footer">
  <div class="footer-left">
    Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
  </div>
  <div class="footer-right">
    2.3.0
  </div>
</footer>
</div>
</div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/Charts.js/2.8.0/Chart.min.css"></script>



<script src="{% static 'assets/js/stisla.js' %}"></script>
<script src="{% static 'assets/js/circle-progress.min.js' %}"></script>

<!-- JS Libraies -->
<script src="{% static 'node_modules/jquery-sparkline/jquery.sparkline.min.js' %}"></script> 
<script src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'node_modules/charts/dist/Chart.min.js' %}"></script>

<script src="{% static 'node_modules/summernote/dist/summernote-bs4.js' %}"></script>
<script src="{% static 'node_modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
<script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
<script src="{% static 'assets/plugins/circle-progress/circle-progress.js' %}"></script>  
<script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.indonesia.js' %}"></script>






<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/script-dashboard.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/pessoal.js' %}"></script>
<!-- jQuery -->



<!-- Page Specific JS File -->
<script src="{% static 'js/circliful.js' %}"></script>

<script src="{% static 'assets/plugins/data-tables/jquery.datatables.min.js' %}"></script>
<script src="{% static 'assets/plugins/data-tables/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/data-tables/datatables.responsive.min.js' %}"></script>
<script src="{% static 'node_modules/charts/dist/Chart.min.js' %}"></script>


<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/index-0.js' %}"></script>
<script src="{% static 'assets/js/page/index.js' %}"></script>
<script src="{% static 'assets/js/page/components-statistic.js' %}"></script>
<script src="{% static 'js/circle-progress.min.js' %}"></script>


   
  <!-- Additional Plugins and JavaScript -->
  <script src="{% static 'js/navigation.js' %}" defer></script><!-- Header Navigation JS Plugin -->
  <script src="{% static 'js/jquery.flexslider-min.js' %}" defer></script><!-- FlexSlider JS Plugin -->
  <script src="{% static 'js/jquery-asRange.min.js' %}" defer></script><!-- Range Slider JS Plugin -->
  <script src="{% static 'js/circle-progress.min.js' %}" defer></script><!-- Circle Progress JS Plugin -->
  <script src="{% static 'js/afterglow.min.js' %}" defer></script><!-- Video Player JS Plugin -->
  <script src="{% static 'js/script.js' %}" defer></script><!-- Custom Document Ready JS -->
  <script src="{% static 'js/script-dashboard.js' %}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
  

<!-- Created By CodingNepal - www.codingnepalweb.com -->
{% block scripts %}



<script type="text/javascript">

  var  hours, min, sec;

  var  clock = function(){

    var date = new Date();

    hours   = date.getHours().toString().length < 2 ? "0" + date.getHours() : date.getHours();
    min   = date.getMinutes().toString().length < 2 ? "0" + date.getMinutes() : date.getMinutes();
    sec   = date.getSeconds().toString().length < 2 ? "0" + date.getSeconds() : date.getSeconds();


    var time = hours + " : " + min + " : " + sec;
    
    console.log(time);

    document.getElementById('timer').innerHTML = time;
  }

  setInterval(function(){

    clock();
  }, 1000)
  clock();
</script> 
{% endblock %}
</body>
</html>
