{% extends 'dashboard/base.html'%}
{% load static %}


{% block dashboard %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forex.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
<div style="height: 110px!important;" class="section-header">
  <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Econômia</h5>
  <br>
  <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">America do Norte</h1>
  <div class="section-header-breadcrumb">     
    <i style="font-size: 90px;" class="fas fa-globe-americas"></i>

    
  </div>
</div>
<div class="section-body">
<a href="{% url 'economia:create_countrie' %}">
    <div class=" float-right icon-top text-dark add"  data-toggle="tooltip" data-placement="top" title="Adicionar um novo pais"><i class="fas fa-plus"></i>
    </div>
  </a>  
  <h2 class="section-title">Informações da America do Norte</h2>
  <p class="section-lead">
    Informações da Econômina America do Norte para saber qual as tendências desses ativos é importante
  </p>  
   <div class="row">
    {% for pais in paises %}
      <div class=" col-md-4 mb-5 ">        
         <div class="wrapper">
            <div class="img-area">
              <div class="inner-area">
                <img src="{{ pais.flags }}" alt="">
              </div>
            </div>
            <div class="icon arrow"></div>
            <div class="icon dots"><i class="fas fa-thermometer-empty"></i></div>
            <div class="name">{{ pais.name }}</div>
            <div class="about">{{ pais.official }}</div>
            <br>
            <br>

            <div class="buttons">
              <button>Mais Informações</button>             
            </div>
            <div class="social-share">
              {% for currency in pais.currencies.all %}
              <div class="row">                           
                <span>{{ currency.id }}</span>
              </div>
              <div class="row">                
                <span>{{ currency.name }}</span>
              </div>
              <div class="row">                
                <span>{{ currency.symbol }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
