{% extends 'dashboard/base.html' %}
{% load static %}




{% block dashboard %}

<style type="text/css">
.voltar i
{
  font-size: 40px;
}

.voltar i:hover
{
  color: yellowgreen;
}

</style>

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Aporte</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">{{ investimento.crypto }}</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-donate"></i>
    </div>
    </div>

    <div class="section-body">
    	<a href="{% url 'crypto:investimento_detail' investimento.id investimento.crypto.name %}"><div class=" float-right icon-top text-dark voltar"  data-toggle="tooltip" data-placement="top" title="Voltar"><i class="fas fa-reply"></i></div></a>   
        <h2 class="section-title">Adicionar Novo Aporte</h2>
        <p class="section-lead">
          Adicionar os dados do novo aporte, todos os dados devem ser legitimo para o calculo correto na contabilidade.
        </p>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">         
                <div class="card">
              <div class="card-header">
                <h4>Formulário de adição de dados</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-danger">
                  <b>Nota!</b> Os dados devem ser verdadeiro.
                </div>
                <form action="." method="POST"  enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_id">Id:</label> 
												<input class="form-control" type="text" name="id" maxlength="150" required id="id_id" value="{{ codigo_aporte }}"> 
												<span class="helptext">Código do retorno investimento</span>
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_investidor">Investidores:</label>
												<select class="form-control" name="investidor" required id="id_investidor">
													{% for investidor in investidores %}
												  <option value="" selected>---------</option>												  
												  <option value="{{ investidor.id }}">{{ investidor.name | title }}</option>
												  {% endfor %}
												</select>
												<span class="helptext">Nome do investidor</span>
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_investimento">Investimento:</label>
												<select class="form-control" name="investimento" required id="id_investimento">
												  <option value="" selected>---------</option>												  
												  <option value="{{ investimento.id }}">{{ investimento.crypto }}</option>						 
												</select>
												<span class="helptext">None do ativo do investimento</span>
											</p>
											
										</div>
									</div>
										<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_valor">Data:</label>
												<input class="form-control" type="date" name="data"  required id="id_data" >
												<span class="helptext">A data do aporte/span>
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_crypto">Crypto:</label>
												<select class="form-control" name="crypto" required id="id_crypto">
												  <option value="" selected>---------</option>
												  {% for crypto in cryptos %}
												  <option value="{{ crypto.id }}">{{ crypto.name }}</option>
												  {% endfor %}											
												</select>
												<span class="helptext">A moeda do investimento</span>
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_blockchain">Blockchain:</label> 
												<select class="form-control" name="blockchain" required id="id_blockchain">								
													<option value="" selected>---------</option>
													{% for blockchain in blockchains %}
													<option value="{{ blockchain.id }}" >{{ blockchain }}</option>
													{% endfor %}
												</select>
												<span class="helptext">A blockchain onde esta o investimento</span>
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_status">Status:</label>
												<select class="form-control" name="status" id="id_status">
												  <option value="ótimo" selected>Ótimo</option>
												  <option value="bom" selected>Bom</option>
												  <option value="regular">Regular</option>
												  <option value="péssimo">Péssimo</option>
												</select>
												<span class="helptext">Status do investimento</span>
											</p>							
										</div>
									</div>
										<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_status">Tipo:</label>
												<select class="form-control" name="status" id="id_status">
												  <option value="deposito" selected>Deposito</option>
												  <option value="retirada" selected>Retirada</option>											
												</select>
												<span class="helptext">Status da Movimentação</span>
											</p>							
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><label for="id_valor">Valor:</label>
												<input class="form-control" type="number" name="valor" value="0" step="any" required id="valor" onblur="calcular()" onblur="calculando()">
												<span class="helptext">O valor do investimento</span>
											</p>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><label for="id_preco">Preco:</label>
												<input class="form-control" type="number" name="preco" value="0" step="any" required id="preco" onblur="calcular()">
												<span class="helptext">O preço pago por unidade</span>
											</p>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><label for="id_quantidade">Quantidade:</label>
												<input class="form-control" type="number" name="quantidade" step="any" value="0" required id="quantidade" onblur="calcular()">
												<span class="helptext">Quantidade de moeda</span>
											</p>
										</div>
									</div>								
									<div class="col-md-3">
										<div class="form-group">
											<p><label for="id_retorno">Retorno:</label>
												<input class="form-control" type="number" name="retorno" value="0" step="any" required id="id_retorno" onblur="calcular()">
												<span class="helptext">O valor do retorno</span>
											</p>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><label for="id_total">Total:</label>
												<input class="form-control" type="number" name="total" value="0" step="0.01" required id="total" onblur="calculando()"> 
												<span class="helptext">O retorno do investimento</span>
											</p>
										</div>
									</div>
								<div>
		            {% for key, value in form.errors.items %}
		            <span class="fieldWrapper">
		              <div class="alert alert-danger">
		                <b>Nota!</b> {{ key }}:{{ value }}
		          		</div>
		             </span>
		            {% endfor %}
			          </div>         
			          	<div class="card-footer text-left">
			              <button class="btn btn-success mr-1" type="submit">Cadastrar</button>
			              <button class="btn btn-danger" type="reset">Cancelar</button>
			           </div>
        				</form>
                </div>
                </div>            
            </div>            
        </div>         
    </div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('input[type="text"]').each(function(){
        var val = $(this).val().replace(',','.');
        $(this).val(val);
    });
  });
</script>

<script type="text/javascript">

  function calcular() {
  var valor = parseFloat(document.getElementById('valor').value, 10);
  var preco = parseFloat(document.getElementById('preco').value, 10);    

   document.getElementById('quantidade').value = valor / preco ;
  }
</script>


<script type="text/javascript">

  function calculando() {
  var valor = parseFloat(document.getElementById('valor').value, 10);

  document.getElementById('total').value = valor;
  }
</script>


{% endblock %}


