{% extends 'dashboard/base.html' %}
{% load static %}





{% block dashboard %}


<link rel="stylesheet" type="text/css" href="{%  static 'css/cripto.css' %}">

 <!-- Main Content -->

          <div style="height: 110px!important;" class="section-header">
            <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Crypto Ativo</h5>
            <br>
            <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Investimento</h1>
            <div class="section-header-breadcrumb">       
                <i style="font-size: 70px; color: #000066;" class="fab fa-bitcoin"></i>
            </div>
          </div>

          <div class="section-body">
             <a href="{% url 'crypto:created' %}"><div class=" float-right icon-top text-dark add-investimento"  data-toggle="tooltip" data-placement="top" title="Adicionar novo investimento"><i class="fas fa-plus"></i></div></a> 
            <h2 class="section-title">Meus investimento</h2>
            <p class="section-lead mt-5">
              O Seu Dinheiro mostra para você como investir com inteligência, entregando notícias e análises sobre finanças, economia e empresas.
            </p>
             <br>
             <br>           
           
            <br>
            <br>
            <div class="row mb-5">
              {% for investimento in investimentos %}              
              <div class="col-12 col-sm-6 col-md-4 mb-5">
               <a href="{% url  'crypto:investimento_detail' investimento.id investimento.crypto.name %}">
                <div class="wrapper">
                  <div class="temperatura">
                    {% if temperatura > 0 and  temperatura < 25 %}
                    <i class="temperatura_25 fas fa-thermometer-quarter"  data-toggle="tooltip" data-placement="top" title="25%"></i>
                    {% elif temperatura > 25 and  temperatura < 50 %}
                    <i class="temperatura_50 fas fa-thermometer-half"  data-toggle="tooltip" data-placement="top" title="50%"></i>
                    {% elif temperatura > 50 and  temperatura < 75 %}
                    <i class="temperatura_75 fas fa-thermometer-three-quarters"  data-toggle="tooltip" data-placement="top" title="75%"></i>
                    {% elif temperatura > 75  %}
                    <i class="temperatura_100 fas fa-thermometer-full"  data-toggle="tooltip" data-placement="top" title="100%"></i>
                    {% else %}
                    <i class="temperatura_0 fas fa-thermometer-quarter"  data-toggle="tooltip" data-placement="top" title="0%"></i>
                    {% endif %}
                  </div>
                  <div class="img-area">
                    <div class="inner-area">
                      <img src="{{ investimento.crypto.image }}" alt="">
                    </div>
                    </div>                  
                    <div class="name text-center">{{ investimento.crypto.symbol |upper}}</div>
                    <div class="sub-title text-center">{{ investimento.crypto }}</div>
                    <div class="social-icons">
                     
                    </div>
                    <div class="buttons">
                      <button>$ {{ investimento.crypto.current_price }}</button>                      
                    </div>
                    <div class="social-share">
                      <div class="row">
                        QTS
                        {% if investimento.quantidade > 0 %}
                        <span class="ml-2"> {{ investimento.quantidade }}</span>
                        {% else %}
                        <span class="ml-2"> 0</span>
                        {% endif %}
                      </div>                      
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
            <br>
            <br>
              <footer class="mt-5">
                <p>
                  Created with <i class="fa fa-heart"></i> by
                  <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
                  - Read how I created this
                  <a target="_blank" href="https://florin-pop.com/blog/2019/04/profile-card-design">here</a>
                  - Design made by
                  <a target="_blank" href="https://dribbble.com/shots/6276930-Profile-Card-UI-Design">Ildiesign</a>
                </p>
              </footer>
              </div>
            </div>
          </div>
        </section>
      </div>
{% endblock %}

<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neumorphism Profile Card | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      </div>
    </div>
    <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
    <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
    <div class="name">CodingNepal</div>
    <div class="about">Designer & Developer</div>
    <div class="social-icons">
      <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
      <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="buttons">
      <button>Message</button>
      <button>Subscribe</button>
    </div>
    <div class="social-share">
      <div class="row">
        <i class="far fa-heart"></i>
        <i class="icon-2 fas fa-heart"></i>
        <span>20.4k</span>
      </div>
      <div class="row">
        <i class="far fa-comment"></i>
        <i class="icon-2 fas fa-comment"></i>
        <span>14.3k</span>
      </div>
      <div class="row">
        <i class="fas fa-share"></i>
        <span>12.8k</span>
      </div>
    </div>
  </div>
</body>
</html>